@charset "utf-8";

:where(.css-119ou95).ant-space-compact { display: inline-flex; }

:where(.css-119ou95).ant-space-compact-block { display: flex; width: 100%; }

:where(.css-119ou95).ant-space-compact-vertical { flex-direction: column; }

:where(.css-119ou95).ant-space-compact-rtl { direction: rtl; }