@charset "utf-8";

:where(.css-119ou95).ant-popover { box-sizing: border-box; margin: 0px; padding: 0px; color: rgb(0, 16, 41); font-size: 14px; line-height: 1.57143; list-style: none; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; position: absolute; top: 0px; left: 0px; z-index: 1030; font-weight: normal; white-space: normal; text-align: start; cursor: auto; user-select: text; --valid-offset-x: var(--arrow-offset-horizontal, var(--arrow-x)); transform-origin: var(--valid-offset-x, 50%) var(--arrow-y, 50%); --antd-arrow-background-color: #ffffff; width: max-content; max-width: 100vw; }

:where(.css-119ou95).ant-popover-rtl { direction: rtl; }

:where(.css-119ou95).ant-popover-hidden { display: none; }

:where(.css-119ou95).ant-popover .ant-popover-content { position: relative; }

:where(.css-119ou95).ant-popover .ant-popover-inner { background-color: rgb(255, 255, 255); background-clip: padding-box; border-radius: 16px; box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 16px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px -4px, rgba(0, 0, 0, 0.05) 0px 9px 28px 8px; padding: 12px; }

:where(.css-119ou95).ant-popover .ant-popover-title { min-width: 177px; margin-bottom: 8px; color: rgb(0, 16, 41); font-weight: 600; border-bottom-width: medium; border-bottom-style: none; border-bottom-color: currentcolor; padding: 0px; }

:where(.css-119ou95).ant-popover .ant-popover-inner-content { color: rgb(0, 16, 41); padding: 0px; }

:where(.css-119ou95).ant-popover .ant-popover-arrow { position: absolute; z-index: 1; display: block; pointer-events: none; width: 16px; height: 16px; overflow: hidden; }

:where(.css-119ou95).ant-popover .ant-popover-arrow::before { position: absolute; bottom: 0px; inset-inline-start: 0px; width: 16px; height: 8px; background: var(--antd-arrow-background-color); clip-path: path("M 0 8 A 6 6 0 0 0 4.24264 6.24264 L 6.58579 3.89949 A 2 2 0 0 1 9.41421 3.89949 L 11.7574 6.24264 A 6 6 0 0 0 16 8 Z"); content: ""; }

:where(.css-119ou95).ant-popover .ant-popover-arrow::after { content: ""; position: absolute; width: 7.79899px; height: 7.79899px; bottom: 0px; inset-inline: 0px; margin: auto; border-radius: 0px 0px 2px; transform: translateY(50%) rotate(-135deg); box-shadow: rgba(0, 0, 0, 0.05) 2px 2px 5px; z-index: 0; background: transparent; }

:where(.css-119ou95).ant-popover .ant-popover-arrow::before { background: var(--antd-arrow-background-color); }

:where(.css-119ou95).ant-popover-placement-top > .ant-popover-arrow, :where(.css-119ou95).ant-popover-placement-topLeft > .ant-popover-arrow, :where(.css-119ou95).ant-popover-placement-topRight > .ant-popover-arrow { bottom: 0px; transform: translateY(100%) rotate(180deg); }

:where(.css-119ou95).ant-popover-placement-top > .ant-popover-arrow { left: 50%; transform: translateX(-50%) translateY(100%) rotate(180deg); }

:where(.css-119ou95).ant-popover-placement-topLeft { --arrow-offset-horizontal: 18px; }

:where(.css-119ou95).ant-popover-placement-topLeft > .ant-popover-arrow { left: 18px; }

:where(.css-119ou95).ant-popover-placement-topRight { --arrow-offset-horizontal: calc(100% - 18px); }

:where(.css-119ou95).ant-popover-placement-topRight > .ant-popover-arrow { right: 18px; }

:where(.css-119ou95).ant-popover-placement-bottom > .ant-popover-arrow, :where(.css-119ou95).ant-popover-placement-bottomLeft > .ant-popover-arrow, :where(.css-119ou95).ant-popover-placement-bottomRight > .ant-popover-arrow { top: 0px; transform: translateY(-100%); }

:where(.css-119ou95).ant-popover-placement-bottom > .ant-popover-arrow { left: 50%; transform: translateX(-50%) translateY(-100%); }

:where(.css-119ou95).ant-popover-placement-bottomLeft { --arrow-offset-horizontal: 18px; }

:where(.css-119ou95).ant-popover-placement-bottomLeft > .ant-popover-arrow { left: 18px; }

:where(.css-119ou95).ant-popover-placement-bottomRight { --arrow-offset-horizontal: calc(100% - 18px); }

:where(.css-119ou95).ant-popover-placement-bottomRight > .ant-popover-arrow { right: 18px; }

:where(.css-119ou95).ant-popover-placement-left > .ant-popover-arrow, :where(.css-119ou95).ant-popover-placement-leftTop > .ant-popover-arrow, :where(.css-119ou95).ant-popover-placement-leftBottom > .ant-popover-arrow { right: 0px; transform: translateX(100%) rotate(90deg); }

:where(.css-119ou95).ant-popover-placement-left > .ant-popover-arrow { top: 50%; transform: translateY(-50%) translateX(100%) rotate(90deg); }

:where(.css-119ou95).ant-popover-placement-leftTop > .ant-popover-arrow { top: 8px; }

:where(.css-119ou95).ant-popover-placement-leftBottom > .ant-popover-arrow { bottom: 8px; }

:where(.css-119ou95).ant-popover-placement-right > .ant-popover-arrow, :where(.css-119ou95).ant-popover-placement-rightTop > .ant-popover-arrow, :where(.css-119ou95).ant-popover-placement-rightBottom > .ant-popover-arrow { left: 0px; transform: translateX(-100%) rotate(-90deg); }

:where(.css-119ou95).ant-popover-placement-right > .ant-popover-arrow { top: 50%; transform: translateY(-50%) translateX(-100%) rotate(-90deg); }

:where(.css-119ou95).ant-popover-placement-rightTop > .ant-popover-arrow { top: 8px; }

:where(.css-119ou95).ant-popover-placement-rightBottom > .ant-popover-arrow { bottom: 8px; }

:where(.css-119ou95).ant-popover-pure { position: relative; max-width: none; margin: 16px; display: inline-block; }

:where(.css-119ou95).ant-popover-pure .ant-popover-content { display: inline-block; }

:where(.css-119ou95).ant-popover.ant-popover-blue { --antd-arrow-background-color: #1677ff; }

:where(.css-119ou95).ant-popover.ant-popover-blue .ant-popover-inner { background-color: rgb(22, 119, 255); }

:where(.css-119ou95).ant-popover.ant-popover-blue .ant-popover-arrow { background: transparent; }

:where(.css-119ou95).ant-popover.ant-popover-purple { --antd-arrow-background-color: #722ed1; }

:where(.css-119ou95).ant-popover.ant-popover-purple .ant-popover-inner { background-color: rgb(114, 46, 209); }

:where(.css-119ou95).ant-popover.ant-popover-purple .ant-popover-arrow { background: transparent; }

:where(.css-119ou95).ant-popover.ant-popover-cyan { --antd-arrow-background-color: #13c2c2; }

:where(.css-119ou95).ant-popover.ant-popover-cyan .ant-popover-inner { background-color: rgb(19, 194, 194); }

:where(.css-119ou95).ant-popover.ant-popover-cyan .ant-popover-arrow { background: transparent; }

:where(.css-119ou95).ant-popover.ant-popover-green { --antd-arrow-background-color: #52c41a; }

:where(.css-119ou95).ant-popover.ant-popover-green .ant-popover-inner { background-color: rgb(82, 196, 26); }

:where(.css-119ou95).ant-popover.ant-popover-green .ant-popover-arrow { background: transparent; }

:where(.css-119ou95).ant-popover.ant-popover-magenta { --antd-arrow-background-color: #eb2f96; }

:where(.css-119ou95).ant-popover.ant-popover-magenta .ant-popover-inner { background-color: rgb(235, 47, 150); }

:where(.css-119ou95).ant-popover.ant-popover-magenta .ant-popover-arrow { background: transparent; }

:where(.css-119ou95).ant-popover.ant-popover-pink { --antd-arrow-background-color: #eb2f96; }

:where(.css-119ou95).ant-popover.ant-popover-pink .ant-popover-inner { background-color: rgb(235, 47, 150); }

:where(.css-119ou95).ant-popover.ant-popover-pink .ant-popover-arrow { background: transparent; }

:where(.css-119ou95).ant-popover.ant-popover-red { --antd-arrow-background-color: #f5222d; }

:where(.css-119ou95).ant-popover.ant-popover-red .ant-popover-inner { background-color: rgb(245, 34, 45); }

:where(.css-119ou95).ant-popover.ant-popover-red .ant-popover-arrow { background: transparent; }

:where(.css-119ou95).ant-popover.ant-popover-orange { --antd-arrow-background-color: #fa8c16; }

:where(.css-119ou95).ant-popover.ant-popover-orange .ant-popover-inner { background-color: rgb(250, 140, 22); }

:where(.css-119ou95).ant-popover.ant-popover-orange .ant-popover-arrow { background: transparent; }

:where(.css-119ou95).ant-popover.ant-popover-yellow { --antd-arrow-background-color: #fadb14; }

:where(.css-119ou95).ant-popover.ant-popover-yellow .ant-popover-inner { background-color: rgb(250, 219, 20); }

:where(.css-119ou95).ant-popover.ant-popover-yellow .ant-popover-arrow { background: transparent; }

:where(.css-119ou95).ant-popover.ant-popover-volcano { --antd-arrow-background-color: #fa541c; }

:where(.css-119ou95).ant-popover.ant-popover-volcano .ant-popover-inner { background-color: rgb(250, 84, 28); }

:where(.css-119ou95).ant-popover.ant-popover-volcano .ant-popover-arrow { background: transparent; }

:where(.css-119ou95).ant-popover.ant-popover-geekblue { --antd-arrow-background-color: #2f54eb; }

:where(.css-119ou95).ant-popover.ant-popover-geekblue .ant-popover-inner { background-color: rgb(47, 84, 235); }

:where(.css-119ou95).ant-popover.ant-popover-geekblue .ant-popover-arrow { background: transparent; }

:where(.css-119ou95).ant-popover.ant-popover-lime { --antd-arrow-background-color: #a0d911; }

:where(.css-119ou95).ant-popover.ant-popover-lime .ant-popover-inner { background-color: rgb(160, 217, 17); }

:where(.css-119ou95).ant-popover.ant-popover-lime .ant-popover-arrow { background: transparent; }

:where(.css-119ou95).ant-popover.ant-popover-gold { --antd-arrow-background-color: #faad14; }

:where(.css-119ou95).ant-popover.ant-popover-gold .ant-popover-inner { background-color: rgb(250, 173, 20); }

:where(.css-119ou95).ant-popover.ant-popover-gold .ant-popover-arrow { background: transparent; }

:where(.css-119ou95).ant-zoom-big-enter, :where(.css-119ou95).ant-zoom-big-appear { animation-duration: 0.2s; animation-fill-mode: both; animation-play-state: paused; }

:where(.css-119ou95).ant-zoom-big-leave { animation-duration: 0.2s; animation-fill-mode: both; animation-play-state: paused; }

:where(.css-119ou95).ant-zoom-big-enter.ant-zoom-big-enter-active, :where(.css-119ou95).ant-zoom-big-appear.ant-zoom-big-appear-active { animation-name: css-119ou95-antZoomBigIn; animation-play-state: running; }

:where(.css-119ou95).ant-zoom-big-leave.ant-zoom-big-leave-active { animation-name: css-119ou95-antZoomBigOut; animation-play-state: running; pointer-events: none; }

:where(.css-119ou95).ant-zoom-big-enter, :where(.css-119ou95).ant-zoom-big-appear { transform: scale(0); opacity: 0; animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1); }

:where(.css-119ou95).ant-zoom-big-enter-prepare, :where(.css-119ou95).ant-zoom-big-appear-prepare { transform: none; }

:where(.css-119ou95).ant-zoom-big-leave { animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86); }