@charset "utf-8";

:where(.css-119ou95).ant-breadcrumb { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 14px; box-sizing: border-box; }

:where(.css-119ou95).ant-breadcrumb::before, :where(.css-119ou95).ant-breadcrumb::after { box-sizing: border-box; }

:where(.css-119ou95).ant-breadcrumb [class^="ant-breadcrumb"], :where(.css-119ou95).ant-breadcrumb [class*=" ant-breadcrumb"] { box-sizing: border-box; }

:where(.css-119ou95).ant-breadcrumb [class^="ant-breadcrumb"]::before, :where(.css-119ou95).ant-breadcrumb [class*=" ant-breadcrumb"]::before, :where(.css-119ou95).ant-breadcrumb [class^="ant-breadcrumb"]::after, :where(.css-119ou95).ant-breadcrumb [class*=" ant-breadcrumb"]::after { box-sizing: border-box; }

:where(.css-119ou95).ant-breadcrumb { box-sizing: border-box; margin: 0px; padding: 0px; color: rgba(0, 0, 0, 0.45); font-size: 14px; line-height: 1.57143; list-style: none; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

:where(.css-119ou95).ant-breadcrumb .anticon { font-size: 14px; }

:where(.css-119ou95).ant-breadcrumb ol { display: flex; flex-wrap: wrap; margin: 0px; padding: 0px; list-style: none; }

:where(.css-119ou95).ant-breadcrumb .ant-breadcrumb-item a { color: rgba(0, 0, 0, 0.45); transition: color 0.2s; padding: 0px 4px; border-radius: 8px; height: 22px; display: inline-block; margin-inline: -4px; }

:where(.css-119ou95).ant-breadcrumb .ant-breadcrumb-item a:hover { color: rgb(0, 16, 41); background-color: rgba(0, 0, 0, 0.06); }

:where(.css-119ou95).ant-breadcrumb .ant-breadcrumb-item a:focus-visible { outline: rgb(122, 200, 255) solid 3px; outline-offset: 1px; transition: outline-offset, outline; }

:where(.css-119ou95).ant-breadcrumb .ant-breadcrumb-item:last-child { color: rgb(0, 16, 41); }

:where(.css-119ou95).ant-breadcrumb .ant-breadcrumb-separator { margin-inline: 8px; color: rgba(0, 0, 0, 0.45); }

:where(.css-119ou95).ant-breadcrumb .ant-breadcrumb-link > .anticon + span, :where(.css-119ou95).ant-breadcrumb .ant-breadcrumb-link > .anticon + a { margin-inline-start: 4px; }

:where(.css-119ou95).ant-breadcrumb .ant-breadcrumb-overlay-link { border-radius: 8px; height: 22px; display: inline-block; padding: 0px 4px; margin-inline: -4px; }

:where(.css-119ou95).ant-breadcrumb .ant-breadcrumb-overlay-link > .anticon { margin-inline-start: 4px; font-size: 12px; }

:where(.css-119ou95).ant-breadcrumb .ant-breadcrumb-overlay-link:hover { color: rgb(0, 16, 41); background-color: rgba(0, 0, 0, 0.06); }

:where(.css-119ou95).ant-breadcrumb .ant-breadcrumb-overlay-link:hover a { color: rgb(0, 16, 41); }

:where(.css-119ou95).ant-breadcrumb .ant-breadcrumb-overlay-link a:hover { background-color: transparent; }

:where(.css-119ou95).ant-breadcrumb.ant-breadcrumb-rtl { direction: rtl; }