@charset "utf-8";

:where(.css-1q3a9c7).ant-input { box-sizing: border-box; }

:where(.css-1q3a9c7).ant-input::before, :where(.css-1q3a9c7).ant-input::after { box-sizing: border-box; }

:where(.css-1q3a9c7).ant-input [class^="ant-input"], :where(.css-1q3a9c7).ant-input [class*=" ant-input"] { box-sizing: border-box; }

:where(.css-1q3a9c7).ant-input [class^="ant-input"]::before, :where(.css-1q3a9c7).ant-input [class*=" ant-input"]::before, :where(.css-1q3a9c7).ant-input [class^="ant-input"]::after, :where(.css-1q3a9c7).ant-input [class*=" ant-input"]::after { box-sizing: border-box; }

:where(.css-1q3a9c7).ant-input { box-sizing: border-box; margin: 0px; padding: 4px 11px; color: rgb(255, 255, 255); font-size: 14px; line-height: 1.57143; list-style: none; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; position: relative; display: inline-block; width: 100%; min-width: 0px; border-radius: 16px; transition: 0.2s; }

:where(.css-1q3a9c7).ant-input::placeholder { color: rgba(255, 255, 255, 0.25); user-select: none; }

:where(.css-1q3a9c7).ant-input:placeholder-shown { text-overflow: ellipsis; }

:where(.css-1q3a9c7).ant-input-lg { padding: 7px 11px; font-size: 16px; line-height: 1.5; border-radius: 16px; }

:where(.css-1q3a9c7).ant-input-sm { padding: 0px 7px; font-size: 14px; border-radius: 8px; }

:where(.css-1q3a9c7).ant-input-rtl, :where(.css-1q3a9c7).ant-input-textarea-rtl { direction: rtl; }

:where(.css-1q3a9c7).ant-input-outlined { background: rgb(43, 43, 52); border-width: 1px; border-style: solid; border-color: rgb(66, 66, 66); }

:where(.css-1q3a9c7).ant-input-outlined:hover { border-color: rgb(107, 173, 214); background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-outlined:focus, :where(.css-1q3a9c7).ant-input-outlined:focus-within { border-color: rgb(68, 140, 192); box-shadow: rgba(3, 170, 245, 0.15) 0px 0px 0px 0px; outline: 0px; background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-outlined.ant-input-disabled, :where(.css-1q3a9c7).ant-input-outlined[disabled] { color: rgb(255, 255, 255); background-color: rgb(51, 51, 61); border-color: rgb(66, 66, 66); box-shadow: none; cursor: not-allowed; opacity: 1; }

:where(.css-1q3a9c7).ant-input-outlined.ant-input-disabled input[disabled], :where(.css-1q3a9c7).ant-input-outlined[disabled] input[disabled], :where(.css-1q3a9c7).ant-input-outlined.ant-input-disabled textarea[disabled], :where(.css-1q3a9c7).ant-input-outlined[disabled] textarea[disabled] { cursor: not-allowed; }

:where(.css-1q3a9c7).ant-input-outlined.ant-input-disabled:hover:not([disabled]), :where(.css-1q3a9c7).ant-input-outlined[disabled]:hover:not([disabled]) { border-color: rgb(66, 66, 66); background-color: rgb(51, 51, 61); }

:where(.css-1q3a9c7).ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) { background: rgb(43, 43, 52); border-width: 1px; border-style: solid; border-color: rgb(221, 4, 4); }

:where(.css-1q3a9c7).ant-input-outlined.ant-input-status-error:not(.ant-input-disabled):hover { border-color: rgb(126, 46, 47); background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-outlined.ant-input-status-error:not(.ant-input-disabled):focus, :where(.css-1q3a9c7).ant-input-outlined.ant-input-status-error:not(.ant-input-disabled):focus-within { border-color: rgb(221, 4, 4); box-shadow: rgba(45, 4, 0, 0.54) 0px 0px 0px 0px; outline: 0px; background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) .ant-input-prefix, :where(.css-1q3a9c7).ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) .ant-input-suffix { color: rgb(221, 4, 4); }

:where(.css-1q3a9c7).ant-input-outlined.ant-input-status-error.ant-input-disabled { border-color: rgb(221, 4, 4); }

:where(.css-1q3a9c7).ant-input-outlined.ant-input-status-warning:not(.ant-input-disabled) { background: rgb(43, 43, 52); border-width: 1px; border-style: solid; border-color: rgb(216, 150, 20); }

:where(.css-1q3a9c7).ant-input-outlined.ant-input-status-warning:not(.ant-input-disabled):hover { border-color: rgb(124, 89, 20); background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-outlined.ant-input-status-warning:not(.ant-input-disabled):focus, :where(.css-1q3a9c7).ant-input-outlined.ant-input-status-warning:not(.ant-input-disabled):focus-within { border-color: rgb(216, 150, 20); box-shadow: rgba(43, 28, 0, 0.67) 0px 0px 0px 0px; outline: 0px; background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-outlined.ant-input-status-warning:not(.ant-input-disabled) .ant-input-prefix, :where(.css-1q3a9c7).ant-input-outlined.ant-input-status-warning:not(.ant-input-disabled) .ant-input-suffix { color: rgb(216, 150, 20); }

:where(.css-1q3a9c7).ant-input-outlined.ant-input-status-warning.ant-input-disabled { border-color: rgb(216, 150, 20); }

:where(.css-1q3a9c7).ant-input-filled { background: rgba(255, 255, 255, 0.08); border-width: 1px; border-style: solid; border-color: transparent; }

input:where(.css-1q3a9c7).ant-input-filled, :where(.css-1q3a9c7).ant-input-filled input, textarea:where(.css-1q3a9c7).ant-input-filled, :where(.css-1q3a9c7).ant-input-filled textarea { color: unset; }

:where(.css-1q3a9c7).ant-input-filled:hover { background: rgba(255, 255, 255, 0.12); }

:where(.css-1q3a9c7).ant-input-filled:focus, :where(.css-1q3a9c7).ant-input-filled:focus-within { outline: 0px; border-color: rgb(68, 140, 192); background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-filled.ant-input-disabled, :where(.css-1q3a9c7).ant-input-filled[disabled] { color: rgb(255, 255, 255); background-color: rgb(51, 51, 61); border-color: rgb(66, 66, 66); box-shadow: none; cursor: not-allowed; opacity: 1; }

:where(.css-1q3a9c7).ant-input-filled.ant-input-disabled input[disabled], :where(.css-1q3a9c7).ant-input-filled[disabled] input[disabled], :where(.css-1q3a9c7).ant-input-filled.ant-input-disabled textarea[disabled], :where(.css-1q3a9c7).ant-input-filled[disabled] textarea[disabled] { cursor: not-allowed; }

:where(.css-1q3a9c7).ant-input-filled.ant-input-disabled:hover:not([disabled]), :where(.css-1q3a9c7).ant-input-filled[disabled]:hover:not([disabled]) { border-color: rgb(66, 66, 66); background-color: rgb(51, 51, 61); }

:where(.css-1q3a9c7).ant-input-filled.ant-input-status-error:not(.ant-input-disabled) { background: rgb(221, 4, 4); border-width: 1px; border-style: solid; border-color: transparent; }

input:where(.css-1q3a9c7).ant-input-filled.ant-input-status-error:not(.ant-input-disabled), :where(.css-1q3a9c7).ant-input-filled.ant-input-status-error:not(.ant-input-disabled) input, textarea:where(.css-1q3a9c7).ant-input-filled.ant-input-status-error:not(.ant-input-disabled), :where(.css-1q3a9c7).ant-input-filled.ant-input-status-error:not(.ant-input-disabled) textarea { color: rgb(220, 68, 70); }

:where(.css-1q3a9c7).ant-input-filled.ant-input-status-error:not(.ant-input-disabled):hover { background: rgb(69, 29, 31); }

:where(.css-1q3a9c7).ant-input-filled.ant-input-status-error:not(.ant-input-disabled):focus, :where(.css-1q3a9c7).ant-input-filled.ant-input-status-error:not(.ant-input-disabled):focus-within { outline: 0px; border-color: rgb(221, 4, 4); background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-filled.ant-input-status-error:not(.ant-input-disabled) .ant-input-prefix, :where(.css-1q3a9c7).ant-input-filled.ant-input-status-error:not(.ant-input-disabled) .ant-input-suffix { color: rgb(221, 4, 4); }

:where(.css-1q3a9c7).ant-input-filled.ant-input-status-warning:not(.ant-input-disabled) { background: rgb(43, 33, 17); border-width: 1px; border-style: solid; border-color: transparent; }

input:where(.css-1q3a9c7).ant-input-filled.ant-input-status-warning:not(.ant-input-disabled), :where(.css-1q3a9c7).ant-input-filled.ant-input-status-warning:not(.ant-input-disabled) input, textarea:where(.css-1q3a9c7).ant-input-filled.ant-input-status-warning:not(.ant-input-disabled), :where(.css-1q3a9c7).ant-input-filled.ant-input-status-warning:not(.ant-input-disabled) textarea { color: rgb(216, 150, 20); }

:where(.css-1q3a9c7).ant-input-filled.ant-input-status-warning:not(.ant-input-disabled):hover { background: rgb(68, 49, 17); }

:where(.css-1q3a9c7).ant-input-filled.ant-input-status-warning:not(.ant-input-disabled):focus, :where(.css-1q3a9c7).ant-input-filled.ant-input-status-warning:not(.ant-input-disabled):focus-within { outline: 0px; border-color: rgb(216, 150, 20); background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-filled.ant-input-status-warning:not(.ant-input-disabled) .ant-input-prefix, :where(.css-1q3a9c7).ant-input-filled.ant-input-status-warning:not(.ant-input-disabled) .ant-input-suffix { color: rgb(216, 150, 20); }

:where(.css-1q3a9c7).ant-input-borderless { background: transparent; border-width: medium; border-style: none; border-color: currentcolor; border-image: initial; }

:where(.css-1q3a9c7).ant-input-borderless:focus, :where(.css-1q3a9c7).ant-input-borderless:focus-within { outline: none; }

:where(.css-1q3a9c7).ant-input-borderless.ant-input-disabled, :where(.css-1q3a9c7).ant-input-borderless[disabled] { color: rgb(255, 255, 255); cursor: not-allowed; }

:where(.css-1q3a9c7).ant-input-borderless.ant-input-status-error, :where(.css-1q3a9c7).ant-input-borderless.ant-input-status-error input, :where(.css-1q3a9c7).ant-input-borderless.ant-input-status-error textarea { color: rgb(221, 4, 4); }

:where(.css-1q3a9c7).ant-input-borderless.ant-input-status-warning, :where(.css-1q3a9c7).ant-input-borderless.ant-input-status-warning input, :where(.css-1q3a9c7).ant-input-borderless.ant-input-status-warning textarea { color: rgb(216, 150, 20); }

:where(.css-1q3a9c7).ant-input-underlined { background: rgb(43, 43, 52); border-width: 1px 0px; border-style: solid none; border-color: transparent transparent rgb(66, 66, 66); border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-underlined:hover { border-color: transparent transparent rgb(107, 173, 214); background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-underlined:focus, :where(.css-1q3a9c7).ant-input-underlined:focus-within { border-color: transparent transparent rgb(68, 140, 192); outline: 0px; background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-underlined.ant-input-disabled, :where(.css-1q3a9c7).ant-input-underlined[disabled] { color: rgb(255, 255, 255); box-shadow: none; cursor: not-allowed; }

:where(.css-1q3a9c7).ant-input-underlined.ant-input-disabled:hover, :where(.css-1q3a9c7).ant-input-underlined[disabled]:hover { border-color: transparent transparent rgb(66, 66, 66); }

:where(.css-1q3a9c7).ant-input-underlined input[disabled], :where(.css-1q3a9c7).ant-input-underlined textarea[disabled] { cursor: not-allowed; }

:where(.css-1q3a9c7).ant-input-underlined.ant-input-status-error:not(.ant-input-disabled) { background: rgb(43, 43, 52); border-width: 1px 0px; border-style: solid none; border-color: transparent transparent rgb(221, 4, 4); border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-underlined.ant-input-status-error:not(.ant-input-disabled):hover { border-color: transparent transparent rgb(126, 46, 47); background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-underlined.ant-input-status-error:not(.ant-input-disabled):focus, :where(.css-1q3a9c7).ant-input-underlined.ant-input-status-error:not(.ant-input-disabled):focus-within { border-color: transparent transparent rgb(221, 4, 4); outline: 0px; background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-underlined.ant-input-status-error:not(.ant-input-disabled) .ant-input-prefix, :where(.css-1q3a9c7).ant-input-underlined.ant-input-status-error:not(.ant-input-disabled) .ant-input-suffix { color: rgb(221, 4, 4); }

:where(.css-1q3a9c7).ant-input-underlined.ant-input-status-error.ant-input-disabled { border-color: transparent transparent rgb(221, 4, 4); }

:where(.css-1q3a9c7).ant-input-underlined.ant-input-status-warning:not(.ant-input-disabled) { background: rgb(43, 43, 52); border-width: 1px 0px; border-style: solid none; border-color: transparent transparent rgb(216, 150, 20); border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-underlined.ant-input-status-warning:not(.ant-input-disabled):hover { border-color: transparent transparent rgb(124, 89, 20); background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-underlined.ant-input-status-warning:not(.ant-input-disabled):focus, :where(.css-1q3a9c7).ant-input-underlined.ant-input-status-warning:not(.ant-input-disabled):focus-within { border-color: transparent transparent rgb(216, 150, 20); outline: 0px; background-color: rgb(43, 43, 52); }

:where(.css-1q3a9c7).ant-input-underlined.ant-input-status-warning:not(.ant-input-disabled) .ant-input-prefix, :where(.css-1q3a9c7).ant-input-underlined.ant-input-status-warning:not(.ant-input-disabled) .ant-input-suffix { color: rgb(216, 150, 20); }

:where(.css-1q3a9c7).ant-input-underlined.ant-input-status-warning.ant-input-disabled { border-color: transparent transparent rgb(216, 150, 20); }

:where(.css-1q3a9c7).ant-input[type="color"] { height: 32px; }

:where(.css-1q3a9c7).ant-input[type="color"].ant-input-lg { height: 40px; }

:where(.css-1q3a9c7).ant-input[type="color"].ant-input-sm { height: 24px; padding-top: 3px; padding-bottom: 3px; }

:where(.css-1q3a9c7).ant-input[type="search"]::-webkit-search-cancel-button, :where(.css-1q3a9c7).ant-input[type="search"]::-webkit-search-decoration { appearance: none; }

:where(.css-1q3a9c7).ant-input-affix-wrapper { position: relative; display: inline-flex; width: 100%; min-width: 0px; padding: 4px 11px; color: rgb(255, 255, 255); font-size: 14px; line-height: 1.57143; border-radius: 16px; transition: 0.2s; }

:where(.css-1q3a9c7).ant-input-affix-wrapper::placeholder { color: rgba(255, 255, 255, 0.25); user-select: none; }

:where(.css-1q3a9c7).ant-input-affix-wrapper:placeholder-shown { text-overflow: ellipsis; }

:where(.css-1q3a9c7).ant-input-affix-wrapper-lg { padding: 7px 11px; font-size: 16px; line-height: 1.5; border-radius: 16px; }

:where(.css-1q3a9c7).ant-input-affix-wrapper-sm { padding: 0px 7px; font-size: 14px; border-radius: 8px; }

:where(.css-1q3a9c7).ant-input-affix-wrapper-rtl, :where(.css-1q3a9c7).ant-input-affix-wrapper-textarea-rtl { direction: rtl; }

:where(.css-1q3a9c7).ant-input-affix-wrapper:not(.ant-input-disabled):hover { z-index: 1; }

.ant-input-search-with-button :where(.css-1q3a9c7).ant-input-affix-wrapper:not(.ant-input-disabled):hover { z-index: 0; }

:where(.css-1q3a9c7).ant-input-affix-wrapper-focused, :where(.css-1q3a9c7).ant-input-affix-wrapper:focus { z-index: 1; }

:where(.css-1q3a9c7).ant-input-affix-wrapper > input.ant-input { padding: 0px; }

:where(.css-1q3a9c7).ant-input-affix-wrapper > input.ant-input, :where(.css-1q3a9c7).ant-input-affix-wrapper > textarea.ant-input { font-size: inherit; border-width: medium; border-style: none; border-color: currentcolor; border-image: initial; border-radius: 0px; outline: none; background: transparent; color: inherit; }

:where(.css-1q3a9c7).ant-input-affix-wrapper > input.ant-input:focus, :where(.css-1q3a9c7).ant-input-affix-wrapper > textarea.ant-input:focus { box-shadow: none !important; }

:where(.css-1q3a9c7).ant-input-affix-wrapper::before { display: inline-block; width: 0px; visibility: hidden; content: " "; }

:where(.css-1q3a9c7).ant-input-affix-wrapper .ant-input-prefix, :where(.css-1q3a9c7).ant-input-affix-wrapper .ant-input-suffix { display: flex; flex: 0 0 auto; align-items: center; }

:where(.css-1q3a9c7).ant-input-affix-wrapper .ant-input-prefix > :not(:last-child), :where(.css-1q3a9c7).ant-input-affix-wrapper .ant-input-suffix > :not(:last-child) { margin-inline-end: 8px; }

:where(.css-1q3a9c7).ant-input-affix-wrapper .ant-input-show-count-suffix { color: rgba(255, 255, 255, 0.45); direction: ltr; }

:where(.css-1q3a9c7).ant-input-affix-wrapper .ant-input-show-count-has-suffix { margin-inline-end: 4px; }

:where(.css-1q3a9c7).ant-input-affix-wrapper .ant-input-prefix { margin-inline-end: 4px; }

:where(.css-1q3a9c7).ant-input-affix-wrapper .ant-input-suffix { margin-inline-start: 4px; }

:where(.css-1q3a9c7).ant-input-affix-wrapper .ant-input-clear-icon { margin: 0px; padding: 0px; line-height: 0; color: rgba(255, 255, 255, 0.25); font-size: 12px; vertical-align: -1px; cursor: pointer; transition: color 0.3s; border-width: medium; border-style: none; border-color: currentcolor; border-image: initial; outline: none; background-color: transparent; }

:where(.css-1q3a9c7).ant-input-affix-wrapper .ant-input-clear-icon:hover { color: rgba(255, 255, 255, 0.45); }

:where(.css-1q3a9c7).ant-input-affix-wrapper .ant-input-clear-icon:active { color: rgb(255, 255, 255); }

:where(.css-1q3a9c7).ant-input-affix-wrapper .ant-input-clear-icon-hidden { visibility: hidden; }

:where(.css-1q3a9c7).ant-input-affix-wrapper .ant-input-clear-icon-has-suffix { margin: 0px 4px; }

:where(.css-1q3a9c7).ant-input-affix-wrapper .anticon.ant-input-password-icon { color: rgba(255, 255, 255, 0.45); cursor: pointer; transition: 0.3s; }

:where(.css-1q3a9c7).ant-input-affix-wrapper .anticon.ant-input-password-icon:hover { color: rgb(255, 255, 255); }

:where(.css-1q3a9c7).ant-input-underlined { border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-affix-wrapper-disabled .anticon.ant-input-password-icon { color: rgba(255, 255, 255, 0.45); cursor: not-allowed; }

:where(.css-1q3a9c7).ant-input-affix-wrapper-disabled .anticon.ant-input-password-icon:hover { color: rgba(255, 255, 255, 0.45); }