@charset "utf-8";

a:where(.css-1q3a9c7) { color: rgb(68, 140, 192); text-decoration: none; background-color: transparent; outline: none; cursor: pointer; transition: color 0.3s; }

a:where(.css-1q3a9c7):hover { color: rgb(107, 173, 214); }

a:where(.css-1q3a9c7):active { color: rgb(56, 112, 151); }

a:where(.css-1q3a9c7):active, a:where(.css-1q3a9c7):hover { text-decoration: none; outline: 0px; }

a:where(.css-1q3a9c7):focus { text-decoration: none; outline: 0px; }

a:where(.css-1q3a9c7)[disabled] { color: rgba(255, 255, 255, 0.25); cursor: not-allowed; }

:where(.css-1q3a9c7) a { color: rgb(68, 140, 192); text-decoration: none; background-color: transparent; outline: none; cursor: pointer; transition: color 0.3s; }

:where(.css-1q3a9c7) a:hover { color: rgb(107, 173, 214); }

:where(.css-1q3a9c7) a:active { color: rgb(56, 112, 151); }

:where(.css-1q3a9c7) a:active, :where(.css-1q3a9c7) a:hover { text-decoration: none; outline: 0px; }

:where(.css-1q3a9c7) a:focus { text-decoration: none; outline: 0px; }

:where(.css-1q3a9c7) a[disabled] { color: rgba(255, 255, 255, 0.25); cursor: not-allowed; }

:where(.css-1q3a9c7).anticon { display: inline-flex; align-items: center; color: inherit; font-style: normal; line-height: 0; text-align: center; text-transform: none; vertical-align: -0.125em; text-rendering: optimizelegibility; -webkit-font-smoothing: antialiased; }

:where(.css-1q3a9c7).anticon > * { line-height: 1; }

:where(.css-1q3a9c7).anticon svg { display: inline-block; }

:where(.css-1q3a9c7).anticon .anticon .anticon-icon { display: block; }