@charset "utf-8";

:where(.ag-ltr) :where(.ag-column-moving) {
  & .ag-cell, & .ag-header-cell, & .ag-spanned-cell-wrapper { transition: left 0.2s; }
  & .ag-header-group-cell { transition: left 0.2s, width 0.2s; }
}

:where(.ag-rtl) :where(.ag-column-moving) {
  & .ag-cell, & .ag-header-cell, & .ag-spanned-cell-wrapper { transition: right 0.2s; }
  & .ag-header-group-cell { transition: right 0.2s, width 0.2s; }
}