@charset "utf-8";

:where(.css-1q3a9c7).ant-popover { box-sizing: border-box; margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-size: 14px; line-height: 1.57143; list-style: none; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; position: absolute; top: 0px; left: 0px; z-index: 1030; font-weight: normal; white-space: normal; text-align: start; cursor: auto; user-select: text; --valid-offset-x: var(--arrow-offset-horizontal, var(--arrow-x)); transform-origin: var(--valid-offset-x, 50%) var(--arrow-y, 50%); --antd-arrow-background-color: #1f1f1f; width: max-content; max-width: 100vw; }

:where(.css-1q3a9c7).ant-popover-rtl { direction: rtl; }

:where(.css-1q3a9c7).ant-popover-hidden { display: none; }

:where(.css-1q3a9c7).ant-popover .ant-popover-content { position: relative; }

:where(.css-1q3a9c7).ant-popover .ant-popover-inner { background-color: rgb(31, 31, 31); background-clip: padding-box; border-radius: 16px; box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 16px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px -4px, rgba(0, 0, 0, 0.05) 0px 9px 28px 8px; padding: 12px; }

:where(.css-1q3a9c7).ant-popover .ant-popover-title { min-width: 177px; margin-bottom: 8px; color: rgb(255, 255, 255); font-weight: 600; border-bottom-width: medium; border-bottom-style: none; border-bottom-color: currentcolor; padding: 0px; }

:where(.css-1q3a9c7).ant-popover .ant-popover-inner-content { color: rgb(255, 255, 255); padding: 0px; }

:where(.css-1q3a9c7).ant-popover .ant-popover-arrow { position: absolute; z-index: 1; display: block; pointer-events: none; width: 16px; height: 16px; overflow: hidden; }

:where(.css-1q3a9c7).ant-popover .ant-popover-arrow::before { position: absolute; bottom: 0px; inset-inline-start: 0px; width: 16px; height: 8px; background: var(--antd-arrow-background-color); clip-path: path("M 0 8 A 6 6 0 0 0 4.24264 6.24264 L 6.58579 3.89949 A 2 2 0 0 1 9.41421 3.89949 L 11.7574 6.24264 A 6 6 0 0 0 16 8 Z"); content: ""; }

:where(.css-1q3a9c7).ant-popover .ant-popover-arrow::after { content: ""; position: absolute; width: 7.79899px; height: 7.79899px; bottom: 0px; inset-inline: 0px; margin: auto; border-radius: 0px 0px 2px; transform: translateY(50%) rotate(-135deg); box-shadow: rgba(0, 0, 0, 0.05) 2px 2px 5px; z-index: 0; background: transparent; }

:where(.css-1q3a9c7).ant-popover .ant-popover-arrow::before { background: var(--antd-arrow-background-color); }

:where(.css-1q3a9c7).ant-popover-placement-top > .ant-popover-arrow, :where(.css-1q3a9c7).ant-popover-placement-topLeft > .ant-popover-arrow, :where(.css-1q3a9c7).ant-popover-placement-topRight > .ant-popover-arrow { bottom: 0px; transform: translateY(100%) rotate(180deg); }

:where(.css-1q3a9c7).ant-popover-placement-top > .ant-popover-arrow { left: 50%; transform: translateX(-50%) translateY(100%) rotate(180deg); }

:where(.css-1q3a9c7).ant-popover-placement-topLeft { --arrow-offset-horizontal: 18px; }

:where(.css-1q3a9c7).ant-popover-placement-topLeft > .ant-popover-arrow { left: 18px; }

:where(.css-1q3a9c7).ant-popover-placement-topRight { --arrow-offset-horizontal: calc(100% - 18px); }

:where(.css-1q3a9c7).ant-popover-placement-topRight > .ant-popover-arrow { right: 18px; }

:where(.css-1q3a9c7).ant-popover-placement-bottom > .ant-popover-arrow, :where(.css-1q3a9c7).ant-popover-placement-bottomLeft > .ant-popover-arrow, :where(.css-1q3a9c7).ant-popover-placement-bottomRight > .ant-popover-arrow { top: 0px; transform: translateY(-100%); }

:where(.css-1q3a9c7).ant-popover-placement-bottom > .ant-popover-arrow { left: 50%; transform: translateX(-50%) translateY(-100%); }

:where(.css-1q3a9c7).ant-popover-placement-bottomLeft { --arrow-offset-horizontal: 18px; }

:where(.css-1q3a9c7).ant-popover-placement-bottomLeft > .ant-popover-arrow { left: 18px; }

:where(.css-1q3a9c7).ant-popover-placement-bottomRight { --arrow-offset-horizontal: calc(100% - 18px); }

:where(.css-1q3a9c7).ant-popover-placement-bottomRight > .ant-popover-arrow { right: 18px; }

:where(.css-1q3a9c7).ant-popover-placement-left > .ant-popover-arrow, :where(.css-1q3a9c7).ant-popover-placement-leftTop > .ant-popover-arrow, :where(.css-1q3a9c7).ant-popover-placement-leftBottom > .ant-popover-arrow { right: 0px; transform: translateX(100%) rotate(90deg); }

:where(.css-1q3a9c7).ant-popover-placement-left > .ant-popover-arrow { top: 50%; transform: translateY(-50%) translateX(100%) rotate(90deg); }

:where(.css-1q3a9c7).ant-popover-placement-leftTop > .ant-popover-arrow { top: 8px; }

:where(.css-1q3a9c7).ant-popover-placement-leftBottom > .ant-popover-arrow { bottom: 8px; }

:where(.css-1q3a9c7).ant-popover-placement-right > .ant-popover-arrow, :where(.css-1q3a9c7).ant-popover-placement-rightTop > .ant-popover-arrow, :where(.css-1q3a9c7).ant-popover-placement-rightBottom > .ant-popover-arrow { left: 0px; transform: translateX(-100%) rotate(-90deg); }

:where(.css-1q3a9c7).ant-popover-placement-right > .ant-popover-arrow { top: 50%; transform: translateY(-50%) translateX(-100%) rotate(-90deg); }

:where(.css-1q3a9c7).ant-popover-placement-rightTop > .ant-popover-arrow { top: 8px; }

:where(.css-1q3a9c7).ant-popover-placement-rightBottom > .ant-popover-arrow { bottom: 8px; }

:where(.css-1q3a9c7).ant-popover-pure { position: relative; max-width: none; margin: 16px; display: inline-block; }

:where(.css-1q3a9c7).ant-popover-pure .ant-popover-content { display: inline-block; }

:where(.css-1q3a9c7).ant-popover.ant-popover-blue { --antd-arrow-background-color: #1668dc; }

:where(.css-1q3a9c7).ant-popover.ant-popover-blue .ant-popover-inner { background-color: rgb(22, 104, 220); }

:where(.css-1q3a9c7).ant-popover.ant-popover-blue .ant-popover-arrow { background: transparent; }

:where(.css-1q3a9c7).ant-popover.ant-popover-purple { --antd-arrow-background-color: #642ab5; }

:where(.css-1q3a9c7).ant-popover.ant-popover-purple .ant-popover-inner { background-color: rgb(100, 42, 181); }

:where(.css-1q3a9c7).ant-popover.ant-popover-purple .ant-popover-arrow { background: transparent; }

:where(.css-1q3a9c7).ant-popover.ant-popover-cyan { --antd-arrow-background-color: #13a8a8; }

:where(.css-1q3a9c7).ant-popover.ant-popover-cyan .ant-popover-inner { background-color: rgb(19, 168, 168); }

:where(.css-1q3a9c7).ant-popover.ant-popover-cyan .ant-popover-arrow { background: transparent; }

:where(.css-1q3a9c7).ant-popover.ant-popover-green { --antd-arrow-background-color: #49aa19; }

:where(.css-1q3a9c7).ant-popover.ant-popover-green .ant-popover-inner { background-color: rgb(73, 170, 25); }

:where(.css-1q3a9c7).ant-popover.ant-popover-green .ant-popover-arrow { background: transparent; }

:where(.css-1q3a9c7).ant-popover.ant-popover-magenta { --antd-arrow-background-color: #cb2b83; }

:where(.css-1q3a9c7).ant-popover.ant-popover-magenta .ant-popover-inner { background-color: rgb(203, 43, 131); }

:where(.css-1q3a9c7).ant-popover.ant-popover-magenta .ant-popover-arrow { background: transparent; }

:where(.css-1q3a9c7).ant-popover.ant-popover-pink { --antd-arrow-background-color: #cb2b83; }

:where(.css-1q3a9c7).ant-popover.ant-popover-pink .ant-popover-inner { background-color: rgb(203, 43, 131); }

:where(.css-1q3a9c7).ant-popover.ant-popover-pink .ant-popover-arrow { background: transparent; }

:where(.css-1q3a9c7).ant-popover.ant-popover-red { --antd-arrow-background-color: #d32029; }

:where(.css-1q3a9c7).ant-popover.ant-popover-red .ant-popover-inner { background-color: rgb(211, 32, 41); }

:where(.css-1q3a9c7).ant-popover.ant-popover-red .ant-popover-arrow { background: transparent; }

:where(.css-1q3a9c7).ant-popover.ant-popover-orange { --antd-arrow-background-color: #d87a16; }

:where(.css-1q3a9c7).ant-popover.ant-popover-orange .ant-popover-inner { background-color: rgb(216, 122, 22); }

:where(.css-1q3a9c7).ant-popover.ant-popover-orange .ant-popover-arrow { background: transparent; }

:where(.css-1q3a9c7).ant-popover.ant-popover-yellow { --antd-arrow-background-color: #d8bd14; }

:where(.css-1q3a9c7).ant-popover.ant-popover-yellow .ant-popover-inner { background-color: rgb(216, 189, 20); }

:where(.css-1q3a9c7).ant-popover.ant-popover-yellow .ant-popover-arrow { background: transparent; }

:where(.css-1q3a9c7).ant-popover.ant-popover-volcano { --antd-arrow-background-color: #d84a1b; }

:where(.css-1q3a9c7).ant-popover.ant-popover-volcano .ant-popover-inner { background-color: rgb(216, 74, 27); }

:where(.css-1q3a9c7).ant-popover.ant-popover-volcano .ant-popover-arrow { background: transparent; }

:where(.css-1q3a9c7).ant-popover.ant-popover-geekblue { --antd-arrow-background-color: #2b4acb; }

:where(.css-1q3a9c7).ant-popover.ant-popover-geekblue .ant-popover-inner { background-color: rgb(43, 74, 203); }

:where(.css-1q3a9c7).ant-popover.ant-popover-geekblue .ant-popover-arrow { background: transparent; }

:where(.css-1q3a9c7).ant-popover.ant-popover-lime { --antd-arrow-background-color: #8bbb11; }

:where(.css-1q3a9c7).ant-popover.ant-popover-lime .ant-popover-inner { background-color: rgb(139, 187, 17); }

:where(.css-1q3a9c7).ant-popover.ant-popover-lime .ant-popover-arrow { background: transparent; }

:where(.css-1q3a9c7).ant-popover.ant-popover-gold { --antd-arrow-background-color: #d89614; }

:where(.css-1q3a9c7).ant-popover.ant-popover-gold .ant-popover-inner { background-color: rgb(216, 150, 20); }

:where(.css-1q3a9c7).ant-popover.ant-popover-gold .ant-popover-arrow { background: transparent; }

:where(.css-1q3a9c7).ant-zoom-big-enter, :where(.css-1q3a9c7).ant-zoom-big-appear { animation-duration: 0.2s; animation-fill-mode: both; animation-play-state: paused; }

:where(.css-1q3a9c7).ant-zoom-big-leave { animation-duration: 0.2s; animation-fill-mode: both; animation-play-state: paused; }

:where(.css-1q3a9c7).ant-zoom-big-enter.ant-zoom-big-enter-active, :where(.css-1q3a9c7).ant-zoom-big-appear.ant-zoom-big-appear-active { animation-name: css-1q3a9c7-antZoomBigIn; animation-play-state: running; }

:where(.css-1q3a9c7).ant-zoom-big-leave.ant-zoom-big-leave-active { animation-name: css-1q3a9c7-antZoomBigOut; animation-play-state: running; pointer-events: none; }

:where(.css-1q3a9c7).ant-zoom-big-enter, :where(.css-1q3a9c7).ant-zoom-big-appear { transform: scale(0); opacity: 0; animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1); }

:where(.css-1q3a9c7).ant-zoom-big-enter-prepare, :where(.css-1q3a9c7).ant-zoom-big-appear-prepare { transform: none; }

:where(.css-1q3a9c7).ant-zoom-big-leave { animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86); }