@charset "utf-8";

:where(.css-1q3a9c7).ant-divider { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 14px; box-sizing: border-box; }

:where(.css-1q3a9c7).ant-divider::before, :where(.css-1q3a9c7).ant-divider::after { box-sizing: border-box; }

:where(.css-1q3a9c7).ant-divider [class^="ant-divider"], :where(.css-1q3a9c7).ant-divider [class*=" ant-divider"] { box-sizing: border-box; }

:where(.css-1q3a9c7).ant-divider [class^="ant-divider"]::before, :where(.css-1q3a9c7).ant-divider [class*=" ant-divider"]::before, :where(.css-1q3a9c7).ant-divider [class^="ant-divider"]::after, :where(.css-1q3a9c7).ant-divider [class*=" ant-divider"]::after { box-sizing: border-box; }

:where(.css-1q3a9c7).ant-divider { box-sizing: border-box; margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-size: 14px; line-height: 1.57143; list-style: none; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; border-block-start: 1px solid rgba(105, 105, 2, 0.08); }

:where(.css-1q3a9c7).ant-divider-vertical { position: relative; top: -0.06em; display: inline-block; height: 0.9em; margin-inline: 8px; margin-block: 0px; vertical-align: middle; border-top: 0px; border-inline-start: 1px solid rgba(105, 105, 2, 0.08); }

:where(.css-1q3a9c7).ant-divider-horizontal { display: flex; clear: both; width: 100%; min-width: 100%; margin: 24px 0px; }

:where(.css-1q3a9c7).ant-divider-horizontal.ant-divider-with-text { display: flex; align-items: center; margin: 16px 0px; color: rgb(255, 255, 255); font-weight: 500; font-size: 16px; white-space: nowrap; text-align: center; border-block-start: 0px rgba(105, 105, 2, 0.08); }

:where(.css-1q3a9c7).ant-divider-horizontal.ant-divider-with-text::before, :where(.css-1q3a9c7).ant-divider-horizontal.ant-divider-with-text::after { position: relative; width: 50%; border-block-width: 1px 0px; border-block-start-style: solid; border-block-start-color: inherit; border-block-end-style: initial; border-block-end-color: initial; transform: translateY(50%); content: ""; }

:where(.css-1q3a9c7).ant-divider-horizontal.ant-divider-with-text-start::before { width: calc(5%); }

:where(.css-1q3a9c7).ant-divider-horizontal.ant-divider-with-text-start::after { width: calc(95%); }

:where(.css-1q3a9c7).ant-divider-horizontal.ant-divider-with-text-end::before { width: calc(95%); }

:where(.css-1q3a9c7).ant-divider-horizontal.ant-divider-with-text-end::after { width: calc(5%); }

:where(.css-1q3a9c7).ant-divider .ant-divider-inner-text { display: inline-block; padding-block: 0px; padding-inline: 1em; }

:where(.css-1q3a9c7).ant-divider-dashed { background: none; border-color: rgba(105, 105, 2, 0.08); border-style: dashed; border-width: 1px 0px 0px; }

:where(.css-1q3a9c7).ant-divider-horizontal.ant-divider-with-text.ant-divider-dashed::before, :where(.css-1q3a9c7).ant-divider-horizontal.ant-divider-with-text.ant-divider-dashed::after { border-style: dashed none none; }

:where(.css-1q3a9c7).ant-divider-vertical.ant-divider-dashed { border-inline-width: 1px 0px; border-inline-end-style: initial; border-inline-end-color: initial; border-block: 0px initial initial; }

:where(.css-1q3a9c7).ant-divider-dotted { background: none; border-color: rgba(105, 105, 2, 0.08); border-style: dotted; border-width: 1px 0px 0px; }

:where(.css-1q3a9c7).ant-divider-horizontal.ant-divider-with-text.ant-divider-dotted::before, :where(.css-1q3a9c7).ant-divider-horizontal.ant-divider-with-text.ant-divider-dotted::after { border-style: dotted none none; }

:where(.css-1q3a9c7).ant-divider-vertical.ant-divider-dotted { border-inline-width: 1px 0px; border-inline-end-style: initial; border-inline-end-color: initial; border-block: 0px initial initial; }

:where(.css-1q3a9c7).ant-divider-plain.ant-divider-with-text { color: rgb(255, 255, 255); font-weight: normal; font-size: 14px; }

:where(.css-1q3a9c7).ant-divider-horizontal.ant-divider-with-text-start.ant-divider-no-default-orientation-margin-start::before { width: 0px; }

:where(.css-1q3a9c7).ant-divider-horizontal.ant-divider-with-text-start.ant-divider-no-default-orientation-margin-start::after { width: 100%; }

:where(.css-1q3a9c7).ant-divider-horizontal.ant-divider-with-text-start.ant-divider-no-default-orientation-margin-start .ant-divider-inner-text { padding-inline-start: 0px; }

:where(.css-1q3a9c7).ant-divider-horizontal.ant-divider-with-text-end.ant-divider-no-default-orientation-margin-end::before { width: 100%; }

:where(.css-1q3a9c7).ant-divider-horizontal.ant-divider-with-text-end.ant-divider-no-default-orientation-margin-end::after { width: 0px; }

:where(.css-1q3a9c7).ant-divider-horizontal.ant-divider-with-text-end.ant-divider-no-default-orientation-margin-end .ant-divider-inner-text { padding-inline-end: 0px; }

:where(.css-1q3a9c7).ant-divider-horizontal.ant-divider-sm { margin-block: 8px; }

:where(.css-1q3a9c7).ant-divider-horizontal.ant-divider-md { margin-block: 16px; }