@charset "utf-8";

@keyframes css-119ou95-antMoveDownIn { 
  0% { transform: translate3d(0px, 100%, 0px); transform-origin: 0px 0px; opacity: 0; }
  100% { transform: translate3d(0px, 0px, 0px); transform-origin: 0px 0px; opacity: 1; }
}