@charset "utf-8";

:where(.css-1q3a9c7)[class^="ant-input"], :where(.css-1q3a9c7)[class*=" ant-input"] { box-sizing: border-box; }

:where(.css-1q3a9c7)[class^="ant-input"]::before, :where(.css-1q3a9c7)[class*=" ant-input"]::before, :where(.css-1q3a9c7)[class^="ant-input"]::after, :where(.css-1q3a9c7)[class*=" ant-input"]::after { box-sizing: border-box; }

:where(.css-1q3a9c7)[class^="ant-input"] [class^="ant-input"], :where(.css-1q3a9c7)[class*=" ant-input"] [class^="ant-input"], :where(.css-1q3a9c7)[class^="ant-input"] [class*=" ant-input"], :where(.css-1q3a9c7)[class*=" ant-input"] [class*=" ant-input"] { box-sizing: border-box; }

:where(.css-1q3a9c7)[class^="ant-input"] [class^="ant-input"]::before, :where(.css-1q3a9c7)[class*=" ant-input"] [class^="ant-input"]::before, :where(.css-1q3a9c7)[class^="ant-input"] [class*=" ant-input"]::before, :where(.css-1q3a9c7)[class*=" ant-input"] [class*=" ant-input"]::before, :where(.css-1q3a9c7)[class^="ant-input"] [class^="ant-input"]::after, :where(.css-1q3a9c7)[class*=" ant-input"] [class^="ant-input"]::after, :where(.css-1q3a9c7)[class^="ant-input"] [class*=" ant-input"]::after, :where(.css-1q3a9c7)[class*=" ant-input"] [class*=" ant-input"]::after { box-sizing: border-box; }

:where(.css-1q3a9c7).ant-input-group { box-sizing: border-box; margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-size: 14px; line-height: 1.57143; list-style: none; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; position: relative; display: table; width: 100%; border-collapse: separate; border-spacing: 0px; }

:where(.css-1q3a9c7).ant-input-group[class*="col-"] { padding-inline-end: 8px; }

:where(.css-1q3a9c7).ant-input-group[class*="col-"]:last-child { padding-inline-end: 0px; }

:where(.css-1q3a9c7).ant-input-group-lg .ant-input, :where(.css-1q3a9c7).ant-input-group-lg > .ant-input-group-addon { padding: 7px 11px; font-size: 16px; line-height: 1.5; border-radius: 16px; }

:where(.css-1q3a9c7).ant-input-group-sm .ant-input, :where(.css-1q3a9c7).ant-input-group-sm > .ant-input-group-addon { padding: 0px 7px; font-size: 14px; border-radius: 8px; }

:where(.css-1q3a9c7).ant-input-group-lg .ant-select-single .ant-select-selector { height: 40px; }

:where(.css-1q3a9c7).ant-input-group-sm .ant-select-single .ant-select-selector { height: 24px; }

:where(.css-1q3a9c7).ant-input-group > .ant-input { display: table-cell; }

:where(.css-1q3a9c7).ant-input-group > .ant-input:not(:first-child):not(:last-child) { border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-group .ant-input-group-addon, :where(.css-1q3a9c7).ant-input-group .ant-input-group-wrap { display: table-cell; width: 1px; white-space: nowrap; vertical-align: middle; }

:where(.css-1q3a9c7).ant-input-group .ant-input-group-addon:not(:first-child):not(:last-child), :where(.css-1q3a9c7).ant-input-group .ant-input-group-wrap:not(:first-child):not(:last-child) { border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-group .ant-input-group-wrap > * { display: block !important; }

:where(.css-1q3a9c7).ant-input-group .ant-input-group-addon { position: relative; padding: 0px 11px; color: rgb(255, 255, 255); font-weight: normal; font-size: 14px; text-align: center; border-radius: 16px; transition: 0.3s; line-height: 1; }

:where(.css-1q3a9c7).ant-input-group .ant-input-group-addon .ant-select { margin: -5px -11px; }

:where(.css-1q3a9c7).ant-input-group .ant-input-group-addon .ant-select.ant-select-single:not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector { background-color: inherit; border: 1px solid transparent; box-shadow: none; }

:where(.css-1q3a9c7).ant-input-group .ant-input-group-addon .ant-cascader-picker { margin: -9px -11px; background-color: transparent; }

:where(.css-1q3a9c7).ant-input-group .ant-input-group-addon .ant-cascader-picker .ant-cascader-input { text-align: start; border: 0px; box-shadow: none; }

:where(.css-1q3a9c7).ant-input-group .ant-input { width: 100%; margin-bottom: 0px; text-align: inherit; }

:where(.css-1q3a9c7).ant-input-group .ant-input:focus { z-index: 1; border-inline-end-width: 1px; }

:where(.css-1q3a9c7).ant-input-group .ant-input:hover { z-index: 1; border-inline-end-width: 1px; }

.ant-input-search-with-button :where(.css-1q3a9c7).ant-input-group .ant-input:hover { z-index: 0; }

:where(.css-1q3a9c7).ant-input-group > .ant-input:first-child, :where(.css-1q3a9c7).ant-input-group .ant-input-group-addon:first-child { border-start-end-radius: 0px; border-end-end-radius: 0px; }

:where(.css-1q3a9c7).ant-input-group > .ant-input:first-child .ant-select .ant-select-selector, :where(.css-1q3a9c7).ant-input-group .ant-input-group-addon:first-child .ant-select .ant-select-selector { border-start-end-radius: 0px; border-end-end-radius: 0px; }

:where(.css-1q3a9c7).ant-input-group > .ant-input-affix-wrapper:not(:first-child) .ant-input { border-start-start-radius: 0px; border-end-start-radius: 0px; }

:where(.css-1q3a9c7).ant-input-group > .ant-input-affix-wrapper:not(:last-child) .ant-input { border-start-end-radius: 0px; border-end-end-radius: 0px; }

:where(.css-1q3a9c7).ant-input-group > .ant-input:last-child, :where(.css-1q3a9c7).ant-input-group .ant-input-group-addon:last-child { border-start-start-radius: 0px; border-end-start-radius: 0px; }

:where(.css-1q3a9c7).ant-input-group > .ant-input:last-child .ant-select .ant-select-selector, :where(.css-1q3a9c7).ant-input-group .ant-input-group-addon:last-child .ant-select .ant-select-selector { border-start-start-radius: 0px; border-end-start-radius: 0px; }

:where(.css-1q3a9c7).ant-input-group .ant-input-affix-wrapper:not(:last-child) { border-start-end-radius: 0px; border-end-end-radius: 0px; }

.ant-input-search :where(.css-1q3a9c7).ant-input-group .ant-input-affix-wrapper:not(:last-child) { border-start-start-radius: 16px; border-end-start-radius: 16px; }

:where(.css-1q3a9c7).ant-input-group .ant-input-affix-wrapper:not(:first-child), .ant-input-search :where(.css-1q3a9c7).ant-input-group .ant-input-affix-wrapper:not(:first-child) { border-start-start-radius: 0px; border-end-start-radius: 0px; }

:where(.css-1q3a9c7).ant-input-group.ant-input-group-compact { display: block; }

:where(.css-1q3a9c7).ant-input-group.ant-input-group-compact::before { display: table; content: ""; }

:where(.css-1q3a9c7).ant-input-group.ant-input-group-compact::after { display: table; clear: both; content: ""; }

:where(.css-1q3a9c7).ant-input-group.ant-input-group-compact .ant-input-group-addon:not(:first-child):not(:last-child), :where(.css-1q3a9c7).ant-input-group.ant-input-group-compact .ant-input-group-wrap:not(:first-child):not(:last-child), :where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-input:not(:first-child):not(:last-child) { border-inline-end-width: 1px; }

:where(.css-1q3a9c7).ant-input-group.ant-input-group-compact .ant-input-group-addon:not(:first-child):not(:last-child):hover, :where(.css-1q3a9c7).ant-input-group.ant-input-group-compact .ant-input-group-wrap:not(:first-child):not(:last-child):hover, :where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-input:not(:first-child):not(:last-child):hover, :where(.css-1q3a9c7).ant-input-group.ant-input-group-compact .ant-input-group-addon:not(:first-child):not(:last-child):focus, :where(.css-1q3a9c7).ant-input-group.ant-input-group-compact .ant-input-group-wrap:not(:first-child):not(:last-child):focus, :where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-input:not(:first-child):not(:last-child):focus { z-index: 1; }

:where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > * { display: inline-flex; float: none; vertical-align: top; border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-input-affix-wrapper, :where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-input-number-affix-wrapper, :where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-picker-range { display: inline-flex; }

:where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > :not(:last-child) { margin-inline-end: -1px; border-inline-end-width: 1px; }

:where(.css-1q3a9c7).ant-input-group.ant-input-group-compact .ant-input { float: none; }

:where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-select > .ant-select-selector, :where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-select-auto-complete .ant-input, :where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-cascader-picker .ant-input, :where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-input-group-wrapper .ant-input { border-inline-end-width: 1px; border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-select > .ant-select-selector:hover, :where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-select-auto-complete .ant-input:hover, :where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-cascader-picker .ant-input:hover, :where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-input-group-wrapper .ant-input:hover, :where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-select > .ant-select-selector:focus, :where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-select-auto-complete .ant-input:focus, :where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-cascader-picker .ant-input:focus, :where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-input-group-wrapper .ant-input:focus { z-index: 1; }

:where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-select-focused { z-index: 1; }

:where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-select > .ant-select-arrow { z-index: 1; }

:where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > :first-child, :where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-select:first-child > .ant-select-selector, :where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-select-auto-complete:first-child .ant-input, :where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-cascader-picker:first-child .ant-input { border-start-start-radius: 16px; border-end-start-radius: 16px; }

:where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > :last-child, :where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-select:last-child > .ant-select-selector, :where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-cascader-picker:last-child .ant-input, :where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-cascader-picker-focused:last-child .ant-input { border-inline-end-width: 1px; border-start-end-radius: 16px; border-end-end-radius: 16px; }

:where(.css-1q3a9c7).ant-input-group.ant-input-group-compact > .ant-select-auto-complete .ant-input { vertical-align: top; }

:where(.css-1q3a9c7).ant-input-group.ant-input-group-compact .ant-input-group-wrapper + .ant-input-group-wrapper { margin-inline-start: -1px; }

:where(.css-1q3a9c7).ant-input-group.ant-input-group-compact .ant-input-group-wrapper + .ant-input-group-wrapper .ant-input-affix-wrapper { border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-group.ant-input-group-compact .ant-input-group-wrapper:not(:last-child).ant-input-search > .ant-input-group > .ant-input-group-addon > .ant-input-search-button { border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-group.ant-input-group-compact .ant-input-group-wrapper:not(:last-child).ant-input-search > .ant-input-group > .ant-input { border-start-start-radius: 16px; border-start-end-radius: 0px; border-end-end-radius: 0px; border-end-start-radius: 16px; }

:where(.css-1q3a9c7).ant-input-group-rtl { direction: rtl; }

:where(.css-1q3a9c7).ant-input-group-wrapper { display: inline-block; width: 100%; text-align: start; vertical-align: top; }

:where(.css-1q3a9c7).ant-input-group-wrapper-rtl { direction: rtl; }

:where(.css-1q3a9c7).ant-input-group-wrapper-lg .ant-input-group-addon { border-radius: 16px; font-size: 16px; }

:where(.css-1q3a9c7).ant-input-group-wrapper-sm .ant-input-group-addon { border-radius: 8px; }

:where(.css-1q3a9c7).ant-input-group-wrapper-outlined .ant-input-group-addon { background: rgba(255, 255, 255, 0.04); border: 1px solid rgb(66, 66, 66); }

:where(.css-1q3a9c7).ant-input-group-wrapper-outlined .ant-input-group-addon:first-child { border-inline-end: 0px; }

:where(.css-1q3a9c7).ant-input-group-wrapper-outlined .ant-input-group-addon:last-child { border-inline-start: 0px; }

:where(.css-1q3a9c7).ant-input-group-wrapper-outlined.ant-input-group-wrapper-status-error .ant-input-group-addon { border-color: rgb(221, 4, 4); color: rgb(220, 68, 70); }

:where(.css-1q3a9c7).ant-input-group-wrapper-outlined.ant-input-group-wrapper-status-warning .ant-input-group-addon { border-color: rgb(216, 150, 20); color: rgb(216, 150, 20); }

:where(.css-1q3a9c7).ant-input-group-wrapper-outlined.ant-input-group-wrapper-disabled .ant-input-group-addon { color: rgb(255, 255, 255); background-color: rgb(51, 51, 61); border-color: rgb(66, 66, 66); box-shadow: none; cursor: not-allowed; opacity: 1; }

:where(.css-1q3a9c7).ant-input-group-wrapper-outlined.ant-input-group-wrapper-disabled .ant-input-group-addon input[disabled], :where(.css-1q3a9c7).ant-input-group-wrapper-outlined.ant-input-group-wrapper-disabled .ant-input-group-addon textarea[disabled] { cursor: not-allowed; }

:where(.css-1q3a9c7).ant-input-group-wrapper-outlined.ant-input-group-wrapper-disabled .ant-input-group-addon:hover:not([disabled]) { border-color: rgb(66, 66, 66); background-color: rgb(51, 51, 61); }

:where(.css-1q3a9c7).ant-input-group-wrapper-filled .ant-input-group-addon { background: rgba(255, 255, 255, 0.08); }

:where(.css-1q3a9c7).ant-input-group-wrapper-filled .ant-input-group-addon:last-child { position: static; }

:where(.css-1q3a9c7).ant-input-group-wrapper-filled.ant-input-group-wrapper-status-error .ant-input-group-addon { background: rgb(221, 4, 4); color: rgb(220, 68, 70); }

:where(.css-1q3a9c7).ant-input-group-wrapper-filled.ant-input-group-wrapper-status-warning .ant-input-group-addon { background: rgb(43, 33, 17); color: rgb(216, 150, 20); }

:where(.css-1q3a9c7).ant-input-group-wrapper-filled.ant-input-group-wrapper-disabled .ant-input-group-addon { background: rgba(255, 255, 255, 0.08); color: rgb(255, 255, 255); }

:where(.css-1q3a9c7).ant-input-group-wrapper-filled.ant-input-group-wrapper-disabled .ant-input-group-addon:first-child { border-inline-start: 1px solid rgb(66, 66, 66); border-top: 1px solid rgb(66, 66, 66); border-bottom: 1px solid rgb(66, 66, 66); }

:where(.css-1q3a9c7).ant-input-group-wrapper-filled.ant-input-group-wrapper-disabled .ant-input-group-addon:last-child { border-inline-end: 1px solid rgb(66, 66, 66); border-top: 1px solid rgb(66, 66, 66); border-bottom: 1px solid rgb(66, 66, 66); }

:where(.css-1q3a9c7).ant-input-group-wrapper:not(.ant-input-compact-first-item):not(.ant-input-compact-last-item).ant-input-compact-item .ant-input, :where(.css-1q3a9c7).ant-input-group-wrapper:not(.ant-input-compact-first-item):not(.ant-input-compact-last-item).ant-input-compact-item .ant-input-group-addon { border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-group-wrapper:not(.ant-input-compact-last-item).ant-input-compact-first-item .ant-input, :where(.css-1q3a9c7).ant-input-group-wrapper:not(.ant-input-compact-last-item).ant-input-compact-first-item .ant-input-group-addon { border-start-end-radius: 0px; border-end-end-radius: 0px; }

:where(.css-1q3a9c7).ant-input-group-wrapper:not(.ant-input-compact-first-item).ant-input-compact-last-item .ant-input, :where(.css-1q3a9c7).ant-input-group-wrapper:not(.ant-input-compact-first-item).ant-input-compact-last-item .ant-input-group-addon { border-start-start-radius: 0px; border-end-start-radius: 0px; }

:where(.css-1q3a9c7).ant-input-group-wrapper:not(.ant-input-compact-last-item).ant-input-compact-item .ant-input-affix-wrapper { border-start-end-radius: 0px; border-end-end-radius: 0px; }

:where(.css-1q3a9c7).ant-input-group-wrapper:not(.ant-input-compact-first-item).ant-input-compact-item .ant-input-affix-wrapper { border-start-start-radius: 0px; border-end-start-radius: 0px; }

:where(.css-1q3a9c7).ant-input-search .ant-input:not([disabled]):hover + .ant-input-group-addon .ant-input-search-button:not(.ant-btn-color-primary):not(.ant-btn-variant-text), :where(.css-1q3a9c7).ant-input-search .ant-input:not([disabled]):focus + .ant-input-group-addon .ant-input-search-button:not(.ant-btn-color-primary):not(.ant-btn-variant-text) { border-inline-start-color: rgb(107, 173, 214); }

:where(.css-1q3a9c7).ant-input-search .ant-input-affix-wrapper { height: 32px; border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-search .ant-input-lg { line-height: 1.4998; }

:where(.css-1q3a9c7).ant-input-search > .ant-input-group > .ant-input-group-addon:last-child { inset-inline-start: -1px; padding: 0px; border: 0px; }

:where(.css-1q3a9c7).ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button { margin-inline-end: -1px; border-start-start-radius: 0px; border-end-start-radius: 0px; box-shadow: none; }

:where(.css-1q3a9c7).ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-color-primary) { color: rgba(255, 255, 255, 0.45); }

:where(.css-1q3a9c7).ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-color-primary):not([disabled]):hover { color: rgb(107, 173, 214); }

:where(.css-1q3a9c7).ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-color-primary):active { color: rgb(56, 112, 151); }

:where(.css-1q3a9c7).ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-color-primary).ant-btn-loading::before { inset: 0px; }

:where(.css-1q3a9c7).ant-input-search .ant-input-search-button { height: 32px; }

:where(.css-1q3a9c7).ant-input-search .ant-input-search-button:hover, :where(.css-1q3a9c7).ant-input-search .ant-input-search-button:focus { z-index: 1; }

:where(.css-1q3a9c7).ant-input-search-large .ant-input-affix-wrapper, :where(.css-1q3a9c7).ant-input-search-large .ant-input-search-button { height: 40px; }

:where(.css-1q3a9c7).ant-input-search-small .ant-input-affix-wrapper, :where(.css-1q3a9c7).ant-input-search-small .ant-input-search-button { height: 24px; }

:where(.css-1q3a9c7).ant-input-search-rtl { direction: rtl; }

:where(.css-1q3a9c7).ant-input-search.ant-input-compact-item:not(.ant-input-compact-last-item) .ant-input-group-addon .ant-input-search-button { margin-inline-end: -1px; border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-search.ant-input-compact-item:not(.ant-input-compact-first-item) .ant-input, :where(.css-1q3a9c7).ant-input-search.ant-input-compact-item:not(.ant-input-compact-first-item) .ant-input-affix-wrapper { border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-search.ant-input-compact-item > .ant-input-group-addon .ant-input-search-button:hover, :where(.css-1q3a9c7).ant-input-search.ant-input-compact-item > .ant-input:hover, :where(.css-1q3a9c7).ant-input-search.ant-input-compact-item .ant-input-affix-wrapper:hover, :where(.css-1q3a9c7).ant-input-search.ant-input-compact-item > .ant-input-group-addon .ant-input-search-button:focus, :where(.css-1q3a9c7).ant-input-search.ant-input-compact-item > .ant-input:focus, :where(.css-1q3a9c7).ant-input-search.ant-input-compact-item .ant-input-affix-wrapper:focus, :where(.css-1q3a9c7).ant-input-search.ant-input-compact-item > .ant-input-group-addon .ant-input-search-button:active, :where(.css-1q3a9c7).ant-input-search.ant-input-compact-item > .ant-input:active, :where(.css-1q3a9c7).ant-input-search.ant-input-compact-item .ant-input-affix-wrapper:active { z-index: 2; }

:where(.css-1q3a9c7).ant-input-search.ant-input-compact-item > .ant-input-affix-wrapper-focused { z-index: 2; }

:where(.css-1q3a9c7).ant-input-out-of-range, :where(.css-1q3a9c7).ant-input-out-of-range input, :where(.css-1q3a9c7).ant-input-out-of-range textarea, :where(.css-1q3a9c7).ant-input-out-of-range .ant-input-show-count-suffix, :where(.css-1q3a9c7).ant-input-out-of-range .ant-input-data-count { color: rgb(221, 4, 4); }

:where(.css-1q3a9c7).ant-input-compact-item:not(.ant-input-compact-last-item) { margin-inline-end: -1px; }

:where(.css-1q3a9c7).ant-input-compact-item:not(.ant-input-status-success) { z-index: 2; }

:where(.css-1q3a9c7).ant-input-compact-item:hover, :where(.css-1q3a9c7).ant-input-compact-item:focus, :where(.css-1q3a9c7).ant-input-compact-item:active { z-index: 3; }

:where(.css-1q3a9c7).ant-input-compact-item[disabled] { z-index: 0; }

:where(.css-1q3a9c7).ant-input-compact-item:not(.ant-input-compact-first-item):not(.ant-input-compact-last-item) { border-radius: 0px; }

:where(.css-1q3a9c7).ant-input-compact-item:not(.ant-input-compact-last-item).ant-input-compact-first-item, :where(.css-1q3a9c7).ant-input-compact-item:not(.ant-input-compact-last-item).ant-input-compact-first-item.ant-input-sm, :where(.css-1q3a9c7).ant-input-compact-item:not(.ant-input-compact-last-item).ant-input-compact-first-item.ant-input-lg { border-start-end-radius: 0px; border-end-end-radius: 0px; }

:where(.css-1q3a9c7).ant-input-compact-item:not(.ant-input-compact-first-item).ant-input-compact-last-item, :where(.css-1q3a9c7).ant-input-compact-item:not(.ant-input-compact-first-item).ant-input-compact-last-item.ant-input-sm, :where(.css-1q3a9c7).ant-input-compact-item:not(.ant-input-compact-first-item).ant-input-compact-last-item.ant-input-lg { border-start-start-radius: 0px; border-end-start-radius: 0px; }