@charset "utf-8";

.index_highlightSelector__-qiHd { background-color: rgb(250, 250, 250) !important; outline: rgb(25, 118, 210) dashed 3px !important; opacity: 0.8 !important; cursor: pointer !important; transition: opacity 0.5s !important; }