@charset "utf-8";

:root { --toastify-color-light: #fff; --toastify-color-dark: #121212; --toastify-color-info: #3498db; --toastify-color-success: #07bc0c; --toastify-color-warning: #f1c40f; --toastify-color-error: #e74d3c; --toastify-color-transparent: #ffffffb3; --toastify-icon-color-info: var(--toastify-color-info); --toastify-icon-color-success: var(--toastify-color-success); --toastify-icon-color-warning: var(--toastify-color-warning); --toastify-icon-color-error: var(--toastify-color-error); --toastify-container-width: fit-content; --toastify-toast-width: 320px; --toastify-toast-offset: 16px; --toastify-toast-top: max(var(--toastify-toast-offset), env(safe-area-inset-top)); --toastify-toast-right: max(var(--toastify-toast-offset), env(safe-area-inset-right)); --toastify-toast-left: max(var(--toastify-toast-offset), env(safe-area-inset-left)); --toastify-toast-bottom: max(var(--toastify-toast-offset), env(safe-area-inset-bottom)); --toastify-toast-background: #fff; --toastify-toast-padding: 14px; --toastify-toast-min-height: 64px; --toastify-toast-max-height: 800px; --toastify-toast-bd-radius: 6px; --toastify-toast-shadow: 0px 4px 12px #0000001a; --toastify-font-family: sans-serif; --toastify-z-index: 9999; --toastify-text-color-light: #757575; --toastify-text-color-dark: #fff; --toastify-text-color-info: #fff; --toastify-text-color-success: #fff; --toastify-text-color-warning: #fff; --toastify-text-color-error: #fff; --toastify-spinner-color: #616161; --toastify-spinner-color-empty-area: #e0e0e0; --toastify-color-progress-light: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55); --toastify-color-progress-dark: #bb86fc; --toastify-color-progress-info: var(--toastify-color-info); --toastify-color-progress-success: var(--toastify-color-success); --toastify-color-progress-warning: var(--toastify-color-warning); --toastify-color-progress-error: var(--toastify-color-error); --toastify-color-progress-bgo: .2; }

.Toastify__toast-container { z-index: var(--toastify-z-index); transform: translate3d(0, 0, var(--toastify-z-index)); width: var(--toastify-container-width); box-sizing: border-box; color: rgb(255, 255, 255); flex-direction: column; display: flex; position: fixed; }

.Toastify__toast-container--top-left { top: var(--toastify-toast-top); left: var(--toastify-toast-left); }

.Toastify__toast-container--top-center { top: var(--toastify-toast-top); align-items: center; left: 50%; transform: translate(-50%); }

.Toastify__toast-container--top-right { top: var(--toastify-toast-top); right: var(--toastify-toast-right); align-items: end; }

.Toastify__toast-container--bottom-left { bottom: var(--toastify-toast-bottom); left: var(--toastify-toast-left); }

.Toastify__toast-container--bottom-center { bottom: var(--toastify-toast-bottom); align-items: center; left: 50%; transform: translate(-50%); }

.Toastify__toast-container--bottom-right { bottom: var(--toastify-toast-bottom); right: var(--toastify-toast-right); align-items: end; }

.Toastify__toast { --y: 0px; touch-action: none; width: var(--toastify-toast-width); min-height: var(--toastify-toast-min-height); box-sizing: border-box; padding: var(--toastify-toast-padding); border-radius: var(--toastify-toast-bd-radius); box-shadow: var(--toastify-toast-shadow); max-height: var(--toastify-toast-max-height); font-family: var(--toastify-font-family); z-index: 0; word-break: break-word; flex: 1 1 auto; align-items: center; margin-bottom: 1rem; display: flex; position: relative; }

@media only screen and (width <= 480px) {
  .Toastify__toast-container { width: 100vw; left: env(safe-area-inset-left); margin: 0px; }
  .Toastify__toast-container--top-left, .Toastify__toast-container--top-center, .Toastify__toast-container--top-right { top: env(safe-area-inset-top); transform: translate(0px); }
  .Toastify__toast-container--bottom-left, .Toastify__toast-container--bottom-center, .Toastify__toast-container--bottom-right { bottom: env(safe-area-inset-bottom); transform: translate(0px); }
  .Toastify__toast-container--rtl { right: env(safe-area-inset-right); left: initial; }
  .Toastify__toast { --toastify-toast-width: 100%; border-radius: 0px; margin-bottom: 0px; }
}

.Toastify__toast-container[data-stacked="true"] { width: var(--toastify-toast-width); }

@media only screen and (width <= 480px) {
  .Toastify__toast-container[data-stacked="true"] { width: 100vw; }
}

.Toastify__toast--stacked { width: 100%; transform: translate3d(0, var(--y), 0) scale(var(--s)); transition: transform 0.3s; position: absolute; }

.Toastify__toast--stacked[data-collapsed] .Toastify__toast-body, .Toastify__toast--stacked[data-collapsed] .Toastify__close-button { transition: opacity 0.1s; }

.Toastify__toast--stacked[data-collapsed="false"] { overflow: visible; }

.Toastify__toast--stacked[data-collapsed="true"]:not(:last-child) > * { opacity: 0; }

.Toastify__toast--stacked::after { content: ""; height: calc(var(--g) * 1px); position: absolute; bottom: 100%; left: 0px; right: 0px; }

.Toastify__toast--stacked[data-pos="top"] { top: 0px; }

.Toastify__toast--stacked[data-pos="bot"] { bottom: 0px; }

.Toastify__toast--stacked[data-pos="bot"].Toastify__toast--stacked::before { transform-origin: center top; }

.Toastify__toast--stacked[data-pos="top"].Toastify__toast--stacked::before { transform-origin: center bottom; }

.Toastify__toast--stacked::before { content: ""; z-index: -1; height: 100%; position: absolute; bottom: 0px; left: 0px; right: 0px; transform: scaleY(3); }

.Toastify__toast--rtl { direction: rtl; }

.Toastify__toast--close-on-click { cursor: pointer; }

.Toastify__toast-icon { flex-shrink: 0; width: 22px; margin-inline-end: 10px; display: flex; }

.Toastify--animate { animation-duration: 0.5s; animation-fill-mode: both; }

.Toastify--animate-icon { animation-duration: 0.3s; animation-fill-mode: both; }

.Toastify__toast-theme--dark { background: var(--toastify-color-dark); color: var(--toastify-text-color-dark); }

.Toastify__toast-theme--light, .Toastify__toast-theme--colored.Toastify__toast--default { background: var(--toastify-color-light); color: var(--toastify-text-color-light); }

.Toastify__toast-theme--colored.Toastify__toast--info { color: var(--toastify-text-color-info); background: var(--toastify-color-info); }

.Toastify__toast-theme--colored.Toastify__toast--success { color: var(--toastify-text-color-success); background: var(--toastify-color-success); }

.Toastify__toast-theme--colored.Toastify__toast--warning { color: var(--toastify-text-color-warning); background: var(--toastify-color-warning); }

.Toastify__toast-theme--colored.Toastify__toast--error { color: var(--toastify-text-color-error); background: var(--toastify-color-error); }

.Toastify__progress-bar-theme--light { background: var(--toastify-color-progress-light); }

.Toastify__progress-bar-theme--dark { background: var(--toastify-color-progress-dark); }

.Toastify__progress-bar--info { background: var(--toastify-color-progress-info); }

.Toastify__progress-bar--success { background: var(--toastify-color-progress-success); }

.Toastify__progress-bar--warning { background: var(--toastify-color-progress-warning); }

.Toastify__progress-bar--error { background: var(--toastify-color-progress-error); }

.Toastify__progress-bar-theme--colored.Toastify__progress-bar--info, .Toastify__progress-bar-theme--colored.Toastify__progress-bar--success, .Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning, .Toastify__progress-bar-theme--colored.Toastify__progress-bar--error { background: var(--toastify-color-transparent); }

.Toastify__close-button { color: rgb(255, 255, 255); cursor: pointer; opacity: 0.7; z-index: 1; background: 0px 0px; border-width: medium; border-style: none; border-color: currentcolor; border-image: initial; outline: none; padding: 0px; transition: 0.3s; position: absolute; top: 6px; right: 6px; }

.Toastify__toast--rtl .Toastify__close-button { left: 6px; right: unset; }

.Toastify__close-button--light { color: rgb(0, 0, 0); opacity: 0.3; }

.Toastify__close-button > svg { fill: currentcolor; width: 14px; height: 16px; }

.Toastify__close-button:hover, .Toastify__close-button:focus { opacity: 1; }

@keyframes Toastify__trackProgress { 
  0% { transform: scaleX(1); }
  100% { transform: scaleX(0); }
}

.Toastify__progress-bar { z-index: 1; opacity: 0.7; transform-origin: 0px center; width: 100%; height: 100%; position: absolute; bottom: 0px; left: 0px; }

.Toastify__progress-bar--animated { animation: auto linear 0s 1 normal forwards running Toastify__trackProgress; }

.Toastify__progress-bar--controlled { transition: transform 0.2s; }

.Toastify__progress-bar--rtl { right: 0px; left: initial; transform-origin: 100% center; border-bottom-left-radius: initial; }

.Toastify__progress-bar--wrp { border-bottom-left-radius: var(--toastify-toast-bd-radius); border-bottom-right-radius: var(--toastify-toast-bd-radius); width: 100%; height: 5px; position: absolute; bottom: 0px; left: 0px; overflow: hidden; }

.Toastify__progress-bar--wrp[data-hidden="true"] { opacity: 0; }

.Toastify__progress-bar--bg { opacity: var(--toastify-color-progress-bgo); width: 100%; height: 100%; }

.Toastify__spinner { box-sizing: border-box; border-width: 2px; border-style: solid; border-image: initial; border-top-color: ; border-bottom-color: ; border-left-color: ; border-right-color: var(--toastify-spinner-color); border-radius: 100%; width: 20px; height: 20px; animation: 0.65s linear 0s infinite normal none running Toastify__spin; }

@keyframes Toastify__bounceInRight { 
  0%, 60%, 75%, 90%, 100% { animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% { opacity: 0; transform: translate(3000px); }
  60% { opacity: 1; transform: translate(-25px); }
  75% { transform: translate(10px); }
  90% { transform: translate(-5px); }
  100% { transform: none; }
}

@keyframes Toastify__bounceOutRight { 
  20% { opacity: 1; transform: translate3d(-20px, var(--y), 0); }
  100% { opacity: 0; transform: translate3d(2000px, var(--y), 0); }
}

@keyframes Toastify__bounceInLeft { 
  0%, 60%, 75%, 90%, 100% { animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% { opacity: 0; transform: translate(-3000px); }
  60% { opacity: 1; transform: translate(25px); }
  75% { transform: translate(-10px); }
  90% { transform: translate(5px); }
  100% { transform: none; }
}

@keyframes Toastify__bounceOutLeft { 
  20% { opacity: 1; transform: translate3d(20px, var(--y), 0); }
  100% { opacity: 0; transform: translate3d(-2000px, var(--y), 0); }
}

@keyframes Toastify__bounceInUp { 
  0%, 60%, 75%, 90%, 100% { animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% { opacity: 0; transform: translateY(3000px); }
  60% { opacity: 1; transform: translateY(-20px); }
  75% { transform: translateY(10px); }
  90% { transform: translateY(-5px); }
  100% { transform: translate(0px, 0px); }
}

@keyframes Toastify__bounceOutUp { 
  20% { transform: translate3d(0, calc(var(--y) - 10px), 0); }
  40%, 45% { opacity: 1; transform: translate3d(0, calc(var(--y) + 20px), 0); }
  100% { opacity: 0; transform: translateY(-2000px); }
}

@keyframes Toastify__bounceInDown { 
  0%, 60%, 75%, 90%, 100% { animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% { opacity: 0; transform: translateY(-3000px); }
  60% { opacity: 1; transform: translateY(25px); }
  75% { transform: translateY(-10px); }
  90% { transform: translateY(5px); }
  100% { transform: none; }
}

@keyframes Toastify__bounceOutDown { 
  20% { transform: translate3d(0, calc(var(--y) - 10px), 0); }
  40%, 45% { opacity: 1; transform: translate3d(0, calc(var(--y) + 20px), 0); }
  100% { opacity: 0; transform: translateY(2000px); }
}

.Toastify__bounce-enter--top-left, .Toastify__bounce-enter--bottom-left { animation-name: Toastify__bounceInLeft; }

.Toastify__bounce-enter--top-right, .Toastify__bounce-enter--bottom-right { animation-name: Toastify__bounceInRight; }

.Toastify__bounce-enter--top-center { animation-name: Toastify__bounceInDown; }

.Toastify__bounce-enter--bottom-center { animation-name: Toastify__bounceInUp; }

.Toastify__bounce-exit--top-left, .Toastify__bounce-exit--bottom-left { animation-name: Toastify__bounceOutLeft; }

.Toastify__bounce-exit--top-right, .Toastify__bounce-exit--bottom-right { animation-name: Toastify__bounceOutRight; }

.Toastify__bounce-exit--top-center { animation-name: Toastify__bounceOutUp; }

.Toastify__bounce-exit--bottom-center { animation-name: Toastify__bounceOutDown; }

@keyframes Toastify__zoomIn { 
  0% { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
  50% { opacity: 1; }
}

@keyframes Toastify__zoomOut { 
  0% { opacity: 1; }
  50% { opacity: 0; transform: translate3d(0, var(--y), 0) scale3d(.3, .3, .3); }
  100% { opacity: 0; }
}

.Toastify__zoom-enter { animation-name: Toastify__zoomIn; }

.Toastify__zoom-exit { animation-name: Toastify__zoomOut; }

@keyframes Toastify__flipIn { 
  0% { opacity: 0; animation-timing-function: ease-in; transform: perspective(400px) rotateX(90deg); }
  40% { animation-timing-function: ease-in; transform: perspective(400px) rotateX(-20deg); }
  60% { opacity: 1; transform: perspective(400px) rotateX(10deg); }
  80% { transform: perspective(400px) rotateX(-5deg); }
  100% { transform: perspective(400px); }
}

@keyframes Toastify__flipOut { 
  0% { transform: translate3d(0, var(--y), 0) perspective(400px); }
  30% { transform: translate3d(0, var(--y), 0) perspective(400px) rotate3d(1, 0, 0, -20deg); opacity: 1; }
  100% { transform: translate3d(0, var(--y), 0) perspective(400px) rotate3d(1, 0, 0, 90deg); opacity: 0; }
}

.Toastify__flip-enter { animation-name: Toastify__flipIn; }

.Toastify__flip-exit { animation-name: Toastify__flipOut; }

@keyframes Toastify__slideInRight { 
  0% { visibility: visible; transform: translate(110%); }
  100% { transform: translate3d(0, var(--y), 0); }
}

@keyframes Toastify__slideInLeft { 
  0% { visibility: visible; transform: translate(-110%); }
  100% { transform: translate3d(0, var(--y), 0); }
}

@keyframes Toastify__slideInUp { 
  0% { visibility: visible; transform: translateY(110%); }
  100% { transform: translate3d(0, var(--y), 0); }
}

@keyframes Toastify__slideInDown { 
  0% { visibility: visible; transform: translateY(-110%); }
  100% { transform: translate3d(0, var(--y), 0); }
}

@keyframes Toastify__slideOutRight { 
  0% { transform: translate3d(0, var(--y), 0); }
  100% { visibility: hidden; transform: translate3d(110%, var(--y), 0); }
}

@keyframes Toastify__slideOutLeft { 
  0% { transform: translate3d(0, var(--y), 0); }
  100% { visibility: hidden; transform: translate3d(-110%, var(--y), 0); }
}

@keyframes Toastify__slideOutDown { 
  0% { transform: translate3d(0, var(--y), 0); }
  100% { visibility: hidden; transform: translateY(500px); }
}

@keyframes Toastify__slideOutUp { 
  0% { transform: translate3d(0, var(--y), 0); }
  100% { visibility: hidden; transform: translateY(-500px); }
}

.Toastify__slide-enter--top-left, .Toastify__slide-enter--bottom-left { animation-name: Toastify__slideInLeft; }

.Toastify__slide-enter--top-right, .Toastify__slide-enter--bottom-right { animation-name: Toastify__slideInRight; }

.Toastify__slide-enter--top-center { animation-name: Toastify__slideInDown; }

.Toastify__slide-enter--bottom-center { animation-name: Toastify__slideInUp; }

.Toastify__slide-exit--top-left, .Toastify__slide-exit--bottom-left { animation-name: Toastify__slideOutLeft; animation-duration: 0.3s; animation-timing-function: ease-in; }

.Toastify__slide-exit--top-right, .Toastify__slide-exit--bottom-right { animation-name: Toastify__slideOutRight; animation-duration: 0.3s; animation-timing-function: ease-in; }

.Toastify__slide-exit--top-center { animation-name: Toastify__slideOutUp; animation-duration: 0.3s; animation-timing-function: ease-in; }

.Toastify__slide-exit--bottom-center { animation-name: Toastify__slideOutDown; animation-duration: 0.3s; animation-timing-function: ease-in; }

@keyframes Toastify__spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ant-image-preview-root { position: relative; z-index: 1400 !important; }

.ant-image-preview-operations-wrapper { z-index: 1401 !important; }

.ant-render-preview-toolbar { align-items: center; display: flex; }

.ant-image-preview-operations { background: rgba(0, 0, 0, 0.5); border-radius: 0px; height: 45px; padding: 0px; }

.ant-image-preview-operations-operation { margin: 0px; }

.ant-render-preview-toolbar-download-link { color: rgba(255, 255, 255, 0.65); background: rgba(0, 0, 0, 0.5); border-radius: 0px; align-content: center; height: 45px; padding: 12px 11px; display: flex; }

.ant-render-preview-toolbar-download-link:hover { color: rgba(255, 255, 255, 0.85); opacity: 1; }

.ant-image-preview-switch-right, .ant-image-preview-switch-left, .ant-image-preview-close { color: rgba(255, 255, 255, 0.65); background: rgba(0, 0, 0, 0.5); }

.ant-image-preview-switch-right:hover, .ant-image-preview-switch-left:hover, .ant-image-preview-close:hover { color: rgba(255, 255, 255, 0.85); background: rgba(0, 0, 0, 0.5); }

.ant-image-preview-switch-left-disabled, .ant-image-preview-switch-right-disabled, .ant-image-preview-switch-left-disabled:hover, .ant-image-preview-switch-right-disabled:hover { color: rgba(255, 255, 255, 0.5); background: rgba(0, 0, 0, 0.3); }

.ant-cascader-dropdown, .ant-select-dropdown, .ant-drawer, .slick-dots { z-index: 7 !important; }

.ant-tooltip-inner { max-height: 300px; overflow-y: auto; color: inherit !important; }

.ant-cascader-menu-item-content { text-overflow: ellipsis; overflow: hidden; }

.ant-cascader-checkbox-inner { border-radius: 4px !important; }

.ant-rate { font-size: 16px; }

.ant-form-item-explain-error { font-size: 12px; }

.ant-form-item { margin-bottom: 0px !important; }

.ant-divider-horizontal { min-width: 0px !important; margin: 0px !important; }

.ant-spin-nested-loading, .ant-spin-container { width: 100%; height: 100%; }

.ant-spin { max-height: none !important; }

.ant-radio-group-large, .ant-input-number-group-addon, .ant-select-selection-item, .ant-select-lg { font-weight: 500 !important; }

.ant-input-lg, .ant-input-show-count-suffix, .ant-input-data-count, .ant-select-selection-item, .ant-input-number-lg, .ant-input-number-group-addon, .ant-select-selector, .ant-select-lg, .ant-space-addon-large, .ant-select-selection-search-input { align-items: center !important; font-size: 14px !important; line-height: 24px !important; }

.ant-input-number-group-addon { padding: 0px 10px !important; }

.ant-input-number-sm, .ant-select-selector { border-radius: 16px !important; }

.ant-space-addon { padding: 0px 5px !important; }

.ant-badge .ant-badge-count { box-shadow: none !important; }

.ant-menu-submenu { transition-duration: 0.2s !important; }

.ant-breadcrumb-separator { margin-inline: 5px !important; }

.ant-popover-inner { padding: 10px !important; }

.ant-notification { margin: 0px !important; top: calc(50% - 150px) !important; right: calc(50% - 300px) !important; }

.ant-btn span { text-overflow: ellipsis; overflow: hidden; }

.ag-cell { align-content: center; }

.editable-cell { background: rgba(0, 123, 255, 0.05); position: absolute; }

.editable-cell::after { content: "✎"; opacity: 0; pointer-events: none; transition: opacity 0.15s, transform 0.15s; position: absolute; top: 2px; right: 4px; transform: translateY(-2px); }

.editable-cell:hover::after { opacity: 1; transform: translateY(0px); }

.ag-cell-inline-editing:hover::after { opacity: 0; }

.ant-tabs-dropdown-menu li[id$="-more-popup-all"], .ant-tabs-dropdown-menu li[data-menu-id$="-more-popup-all"] { display: none !important; }

:root { --lightningcss-light: initial; --lightningcss-dark: ; color-scheme: light dark; --toastify-color-info: #91caff !important; --toastify-color-success: #b7eb8f !important; --toastify-color-warning: #ffe58f !important; --toastify-color-error: #ffccc7 !important; --toastify-toast-width: 420px !important; --toastify-text-color-info: #4096ff !important; --toastify-text-color-success: #95de64 !important; --toastify-text-color-warning: #ffd666 !important; --toastify-text-color-error: #ff7875 !important; }

@media (prefers-color-scheme: dark) {
  :root { --lightningcss-light: ; --lightningcss-dark: initial; }
}

body { text-size-adjust: 100%; -webkit-font-smoothing: antialiased; width: 100%; height: 100vh; font-family: Rubik, sans-serif; font-size: 100%; line-height: 1; overflow: hidden; }

* { border-width: medium; border-style: none; border-color: currentcolor; border-image: initial; margin: 0px; padding: 0px; font-family: Rubik, sans-serif !important; }

*, ::before, ::after { box-sizing: border-box; }

a, a:link, a:visited, a:hover { text-decoration: none; }

aside, nav, footer, header, section, main { display: block; }

p { font-size: inherit; font-weight: inherit; }

img { vertical-align: top; max-width: 100%; }

input, textarea, button, select { font-family: inherit; font-size: inherit; color: inherit; background-color: rgba(0, 0, 0, 0); }

input[type="file"] { cursor: pointer; }

input[type="file"]::-webkit-file-upload-button { cursor: pointer; }

button, input[type="submit"] { box-shadow: none; cursor: pointer; background: 0px 0px; display: inline-block; }

input:focus, input:active, button:focus, button:active { outline: none; }

.suspense-spin { z-index: 10; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }