@charset "utf-8";

:where(.css-1q3a9c7)[class^="ant-modal"], :where(.css-1q3a9c7)[class*=" ant-modal"] { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 14px; box-sizing: border-box; }

:where(.css-1q3a9c7)[class^="ant-modal"]::before, :where(.css-1q3a9c7)[class*=" ant-modal"]::before, :where(.css-1q3a9c7)[class^="ant-modal"]::after, :where(.css-1q3a9c7)[class*=" ant-modal"]::after { box-sizing: border-box; }

:where(.css-1q3a9c7)[class^="ant-modal"] [class^="ant-modal"], :where(.css-1q3a9c7)[class*=" ant-modal"] [class^="ant-modal"], :where(.css-1q3a9c7)[class^="ant-modal"] [class*=" ant-modal"], :where(.css-1q3a9c7)[class*=" ant-modal"] [class*=" ant-modal"] { box-sizing: border-box; }

:where(.css-1q3a9c7)[class^="ant-modal"] [class^="ant-modal"]::before, :where(.css-1q3a9c7)[class*=" ant-modal"] [class^="ant-modal"]::before, :where(.css-1q3a9c7)[class^="ant-modal"] [class*=" ant-modal"]::before, :where(.css-1q3a9c7)[class*=" ant-modal"] [class*=" ant-modal"]::before, :where(.css-1q3a9c7)[class^="ant-modal"] [class^="ant-modal"]::after, :where(.css-1q3a9c7)[class*=" ant-modal"] [class^="ant-modal"]::after, :where(.css-1q3a9c7)[class^="ant-modal"] [class*=" ant-modal"]::after, :where(.css-1q3a9c7)[class*=" ant-modal"] [class*=" ant-modal"]::after { box-sizing: border-box; }

:where(.css-1q3a9c7).ant-modal-root .ant-modal-wrap-rtl { direction: rtl; }

:where(.css-1q3a9c7).ant-modal-root .ant-modal-centered { text-align: center; }

:where(.css-1q3a9c7).ant-modal-root .ant-modal-centered::before { display: inline-block; width: 0px; height: 100%; vertical-align: middle; content: ""; }

:where(.css-1q3a9c7).ant-modal-root .ant-modal-centered .ant-modal { top: 0px; display: inline-block; padding-bottom: 0px; text-align: start; vertical-align: middle; }

@media (max-width: 767px) {
  :where(.css-1q3a9c7).ant-modal-root .ant-modal { max-width: calc(-16px + 100vw); margin: 8px auto; }
  :where(.css-1q3a9c7).ant-modal-root .ant-modal-centered .ant-modal { flex: 1 1 0%; }
}

:where(.css-1q3a9c7).ant-modal { box-sizing: border-box; margin: 0px auto; padding: 0px 0px 24px; color: rgb(255, 255, 255); font-size: 14px; line-height: 1.57143; list-style: none; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; pointer-events: none; position: relative; top: 100px; width: auto; max-width: calc(-32px + 100vw); }

:where(.css-1q3a9c7).ant-modal .ant-modal-title { margin: 0px; color: rgb(255, 255, 255); font-weight: 600; font-size: 16px; line-height: 1.5; overflow-wrap: break-word; }

:where(.css-1q3a9c7).ant-modal .ant-modal-content { position: relative; background-color: rgb(31, 31, 31); background-clip: padding-box; border: 0px; border-radius: 16px; box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 16px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px -4px, rgba(0, 0, 0, 0.05) 0px 9px 28px 8px; pointer-events: auto; padding: 20px 24px; }

:where(.css-1q3a9c7).ant-modal .ant-modal-close { position: absolute; top: 12px; inset-inline-end: 12px; z-index: 1010; padding: 0px; color: rgba(255, 255, 255, 0.45); font-weight: 600; line-height: 1; text-decoration: none; background: transparent; border-radius: 8px; width: 32px; height: 32px; border: 0px; outline: 0px; cursor: pointer; transition: color 0.2s, background-color 0.2s; }

:where(.css-1q3a9c7).ant-modal .ant-modal-close-x { display: flex; font-size: 16px; font-style: normal; line-height: 32px; justify-content: center; text-transform: none; text-rendering: auto; }

:where(.css-1q3a9c7).ant-modal .ant-modal-close:disabled { pointer-events: none; }

:where(.css-1q3a9c7).ant-modal .ant-modal-close:hover { color: rgb(255, 255, 255); background-color: rgba(255, 255, 255, 0.12); text-decoration: none; }

:where(.css-1q3a9c7).ant-modal .ant-modal-close:active { background-color: rgba(255, 255, 255, 0.18); }

:where(.css-1q3a9c7).ant-modal .ant-modal-close:focus-visible { outline: rgb(37, 62, 81) solid 3px; outline-offset: 1px; transition: outline-offset, outline; }

:where(.css-1q3a9c7).ant-modal .ant-modal-header { color: rgb(255, 255, 255); background: rgb(31, 31, 31); border-radius: 16px 16px 0px 0px; margin-bottom: 8px; padding: 0px; border-bottom-width: medium; border-bottom-style: none; border-bottom-color: currentcolor; }

:where(.css-1q3a9c7).ant-modal .ant-modal-body { font-size: 14px; line-height: 1.57143; overflow-wrap: break-word; padding: 0px; }

:where(.css-1q3a9c7).ant-modal .ant-modal-body .ant-modal-body-skeleton { width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; margin: 16px auto; }

:where(.css-1q3a9c7).ant-modal .ant-modal-footer { text-align: end; background: transparent; margin-top: 12px; padding: 0px; border-top-width: medium; border-top-style: none; border-top-color: currentcolor; border-radius: 0px; }

:where(.css-1q3a9c7).ant-modal .ant-modal-footer > .ant-btn + .ant-btn { margin-inline-start: 8px; }

:where(.css-1q3a9c7).ant-modal .ant-modal-open { overflow: hidden; }

:where(.css-1q3a9c7).ant-modal-pure-panel { top: auto; padding: 0px; display: flex; flex-direction: column; }

:where(.css-1q3a9c7).ant-modal-pure-panel .ant-modal-content, :where(.css-1q3a9c7).ant-modal-pure-panel .ant-modal-body, :where(.css-1q3a9c7).ant-modal-pure-panel .ant-modal-confirm-body-wrapper { display: flex; flex-direction: column; flex: 1 1 auto; }

:where(.css-1q3a9c7).ant-modal-pure-panel .ant-modal-confirm-body { margin-bottom: auto; }

:where(.css-1q3a9c7).ant-modal-root .ant-modal-wrap-rtl { direction: rtl; }

:where(.css-1q3a9c7).ant-modal-root .ant-modal-wrap-rtl .ant-modal-confirm-body { direction: rtl; }

:where(.css-1q3a9c7).ant-modal-root .ant-modal.ant-zoom-enter, :where(.css-1q3a9c7).ant-modal-root .ant-modal.ant-zoom-appear { transform: none; opacity: 0; animation-duration: 0.3s; user-select: none; }

:where(.css-1q3a9c7).ant-modal-root .ant-modal.ant-zoom-leave .ant-modal-content { pointer-events: none; }

:where(.css-1q3a9c7).ant-modal-root .ant-modal-mask { position: fixed; inset: 0px; z-index: 1000; height: 100%; background-color: rgba(0, 0, 0, 0.45); pointer-events: none; }

:where(.css-1q3a9c7).ant-modal-root .ant-modal-mask .ant-modal-hidden { display: none; }

:where(.css-1q3a9c7).ant-modal-root .ant-modal-wrap { position: fixed; inset: 0px; z-index: 1000; overflow: auto; outline: 0px; }

:where(.css-1q3a9c7).ant-modal-root .ant-fade-enter, :where(.css-1q3a9c7).ant-modal-root .ant-fade-appear { animation-duration: 0.2s; animation-fill-mode: both; animation-play-state: paused; }

:where(.css-1q3a9c7).ant-modal-root .ant-fade-leave { animation-duration: 0.2s; animation-fill-mode: both; animation-play-state: paused; }

:where(.css-1q3a9c7).ant-modal-root .ant-fade-enter.ant-fade-enter-active, :where(.css-1q3a9c7).ant-modal-root .ant-fade-appear.ant-fade-appear-active { animation-name: css-1q3a9c7-antFadeIn; animation-play-state: running; }

:where(.css-1q3a9c7).ant-modal-root .ant-fade-leave.ant-fade-leave-active { animation-name: css-1q3a9c7-antFadeOut; animation-play-state: running; pointer-events: none; }

:where(.css-1q3a9c7).ant-modal-root .ant-fade-enter, :where(.css-1q3a9c7).ant-modal-root .ant-fade-appear { opacity: 0; animation-timing-function: linear; }

:where(.css-1q3a9c7).ant-modal-root .ant-fade-leave { animation-timing-function: linear; }

:where(.css-1q3a9c7).ant-zoom-enter, :where(.css-1q3a9c7).ant-zoom-appear { animation-duration: 0.2s; animation-fill-mode: both; animation-play-state: paused; }

:where(.css-1q3a9c7).ant-zoom-leave { animation-duration: 0.2s; animation-fill-mode: both; animation-play-state: paused; }

:where(.css-1q3a9c7).ant-zoom-enter.ant-zoom-enter-active, :where(.css-1q3a9c7).ant-zoom-appear.ant-zoom-appear-active { animation-name: css-1q3a9c7-antZoomIn; animation-play-state: running; }

:where(.css-1q3a9c7).ant-zoom-leave.ant-zoom-leave-active { animation-name: css-1q3a9c7-antZoomOut; animation-play-state: running; pointer-events: none; }

:where(.css-1q3a9c7).ant-zoom-enter, :where(.css-1q3a9c7).ant-zoom-appear { transform: scale(0); opacity: 0; animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1); }

:where(.css-1q3a9c7).ant-zoom-enter-prepare, :where(.css-1q3a9c7).ant-zoom-appear-prepare { transform: none; }

:where(.css-1q3a9c7).ant-zoom-leave { animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86); }

:where(.css-1q3a9c7).ant-modal-root .ant-modal { --ant-modal-sm-width: var(--ant-modal-xs-width); --ant-modal-md-width: var(--ant-modal-sm-width); --ant-modal-lg-width: var(--ant-modal-md-width); --ant-modal-xl-width: var(--ant-modal-lg-width); --ant-modal-xxl-width: var(--ant-modal-xl-width); width: var(--ant-modal-xs-width); }

@media (min-width: 576px) {
  :where(.css-1q3a9c7).ant-modal-root .ant-modal { width: var(--ant-modal-sm-width); }
}

@media (min-width: 768px) {
  :where(.css-1q3a9c7).ant-modal-root .ant-modal { width: var(--ant-modal-md-width); }
}

@media (min-width: 992px) {
  :where(.css-1q3a9c7).ant-modal-root .ant-modal { width: var(--ant-modal-lg-width); }
}

@media (min-width: 1200px) {
  :where(.css-1q3a9c7).ant-modal-root .ant-modal { width: var(--ant-modal-xl-width); }
}

@media (min-width: 1600px) {
  :where(.css-1q3a9c7).ant-modal-root .ant-modal { width: var(--ant-modal-xxl-width); }
}